[2018-07-24 13:10] sami8github opened #1 "error on run"
Hi
sorry this is not an issue but I dont know how to send you a message , please help me
I downloaded Raylib and I instaled it , then I downloaded this project and compiled it
I got an error :
System.DllNotFoundException: 'Unable to load DLL 'raylib': The specified module could not be found. (Exception from HRESULT: 0x8007007E)'
how to run this project ? do I need to compile Raylib to run it whith

[2018-07-26 15:03] ChrisDill commented on #1
Hi
I have only just set this up to see how well it works in C#.
You need the compiled DLL of raylib in the same directory as the .exe.  I have added the DLL I am using to the project, just copy it to the output.
I am not sure how to run a raylib window inside windows forms but I will add it as a feature.

[2018-07-26 15:12] ChrisDill opened #2 "Using raylib inside windows forms"
Not sure how this will work exactly. Maybe render to texture without a window and put the result into a bitmap.

[2018-07-27 21:50] sami8github commented on #1
Hi
I hope you can help me, thank you very much
I want to make an editor with gui in c# using raylib, I found this binding project and I decided to use it , I need to compile Raylib as x86 dll, and I want to know how to compile Raylib for windows x86 and x64 using mingw?
I installed mingw an I set the environment path
please explain how to build raylib using mingw32-make and how to get compiled ray

[2018-07-28 09:04] ChrisDill commented on #1
For this project im using the visual studio 2017 project that comes with raylib in C:\raylib\raylib\projects to build the x86/64 dlls. Im sure on how to build it using mingw correctly.

Regenerate bindings is what generates the C# file not the dll itself.

[2018-07-28 12:17] sami8github commented on #1
Thank you bro
I compiled with visual studio and I get the dll thank you

[2018-07-29 19:11] sami8github commented on #1
ok after long search I found the folowing:
1-dll file produced with visual studio codeblocs..
2-building raylib with mingw must create this dir manualy:
\release\libs\win32\mingw32
change project name and projet files list in the makefile ,(get the makefile from C:\raylib\raylib\templates\standard_game) and copy it to your game.c dir and change it.

still dont know how to build x86 & x64 dll with

[2018-09-10 22:00] Gamerfiend commented on #2
Not sure if this could be of any use? https://gist.github.com/flibitijibibo/cf282bfccc1eaeb47550 https://www.codeproject.com/Messages/1085304/Re-SDL-Net-on-WinForm-possible.aspx

[2018-09-10 23:03] raysan5 commented on #2
It seems it renders to a `gameWindow`, provided by SDL, similar to [GLFWwindow](http://www.glfw.org/docs/latest/window_guide.html#window_object) provided by GLFW. After that it links that window to `gamePanel` handle as the parent and shows it.

This is the specific code:

[code]

It requires some WinAPI Entry points:

[code]

[2018-09-10 23:13] raysan5 commented on #2
Getting the native window handler could require using [glfw3native.h](http://www.glfw.org/docs/latest/group__native.html) and `GLFW_EXPOSE_NATIVE_WIN32`.

Then retrieve Window HWND with [glfwGetWin32Window()](http://www.glfw.org/docs/latest/group__native.html#gafe5079aa79038b0079fc09d5f0a8e667).

Oh, and by default, GLFWwindow is internal in raylib [core.c](https://github.com/raysan5/raylib/blob/m

[2018-09-11 03:01] Gamerfiend commented on #2
https://docs.microsoft.com/en-us/dotnet/core/tutorials/index I think focusing on getting to use the netcore application instead of winforms would be a better bet for the long run. This would give it functionality across UWP, W10, MacOS, Linux.. Then we can use Xamrian to target mobile platforms like iOS and android.

[2018-09-11 06:50] ChrisDill commented on #1
Hi, the library has changed alot since this issue opened. Did you get it to compile?
The project is currently a custom build of raylib so I can access all the features.

[2018-09-11 07:06] ChrisDill opened #4 "Add netcore support"
Project has currently been tested with .net framework and mono.
Using netcore could provide a better cross platform alternative.

Haven't used it before so any useful links would help. :)
Would involve supporting multiple project types.

[2018-09-11 07:08] ChrisDill commented on #2
I did see that example for SDl2-cs. I also found https://github.com/sqrMin1/MonoGame.Forms for monogame. I tried copying SDL2-cs in RayForm.cs but I was unsure on getting the handle. I will take a look at glfw3native.h.

Its not a priority feature for myself. It was requested by another user and I wanted to see if It was possible. I have opened a separate issue for netcore here #4.

[2018-09-11 12:14] sami8github commented on #1
Very nice bro, this is great news
I stopped on compiling to other platforms especially android.

[2018-09-12 01:07] Gamerfiend commented on #4
When creating the Bindings project, did you select a template from the project creation? Such as Class Library ( Legacy Portable), Class Library (.NET Standard), Class Library( .NET Framework)?

[2018-10-05 16:23] rgebee opened #5 "Handle x86 and x64 bit version of raylib"
Currently using a custom build of raylib for x64 bit but also want to support x86.
Need a way for the bindings to use both. They currently look for a file called raylib.dll in the same directory as the .exe.

Maybe copy the dll at build or runtime based on the architecture used?

[2018-10-05 17:14] ChrisDill opened #7 "Port raylib examples"
- Using makefiles instead of projects because its easier to manage.
- Generator can copy a folder and port c files to c# as best as it can. It is a rough attempt to speed up the process and not a full converter. Still need to check and edit the generated code. It tries to take care of most general cases.

[2018-10-05 17:14] msmshazan commented on #5
look at this https://github.com/dotnet/standard/issues/584

[2018-10-05 17:15] #1 closed

[2018-10-11 11:59] ChrisDill opened #9 "Fix MarshallAs issue with raylib structs"
There are issues getting unmanaged arrays with a fixed size to work in C#. I have had errors with using LoadShader throwing error "Method's type signature is not PInvoke compatible".

I am not sure what I am doing wrong.
Here are the structs using MarshallAs currently and the array from C.
- Mesh ```unsigned int vboId[7];```
- Shader ```int locs[MAX_SHADER_LOCATIONS];```
- Material ```MaterialMap

[2018-10-11 13:28] raysan5 commented on #9
Maybe those arrays should be defined as just pointers and allocated by `LoadMesh()`, `LoadShader()`, `LoadMaterial()`?

[2018-10-11 14:48] ChrisDill commented on #9
I had similar issue with Font and CharInfo that I solved with IntPtr. However they were pointers not fixed arrays.

I tried changing the Shader to use IntPt but it crashes with a "System.AccessViolationException".

This is the Marshall code im using for the Shader. Tested with ```LoadShader```.
[code]
Where Raylib.MAX_SHADER_LOCATIONS is a constant equal to 32.

[2018-10-12 18:59] ChrisDill commented on #9
Update, after looking at the different options it seems you cannot Marshall fixed size arrays without using the fixed keyword. This requires this library and any that use it to be compiled as unsafe. For now it will use this instead.

I will keep this issue open for now in case a better solution is found in the future.

[2018-10-13 09:34] ChrisDill commented on #7
Focusing on examples for now to keep raylib-cs simple and easy to maintain. They are needed to test the library. Games and templates may be added in the future if the generator is improved.

[2018-10-13 09:45] ChrisDill commented on #2
Update, windows forms works with raylib. It is called RayForms.cs and is currently in Bindings to test. Most users won't need it so it will be moved back to examples when ready.

[2018-10-14 11:55] #2 closed

[2018-10-15 11:50] #5 closed, assigned to rgebee

[2018-10-18 13:02] ChrisDill commented on #4
Update, bindings use .Net standard 2.0. Should allows bindings to be used in a netcore project. See commit https://github.com/ChrisDill/Raylib-cs/commit/4198ffb0bd34d3c1fa2513e99d27c517f7561fa9.

[2018-10-22 10:55] ChrisDill commented on #7
This list is for tracking functions that are not working for examples.
[code]

[2018-10-23 21:13] ChrisDill commented on #4
There are now projects Test.NetCore and Test.NetCoreRT for netcore related support.

[2018-10-24 11:48] #4 closed

[2018-10-24 11:55] raysan5 commented on #4
Amazing work @ChrisDill! :D

[2018-10-24 13:40] ChrisDill opened #13 "Nuget release"
- Nuget package with no extra setup needed.
- Reduce use of unsafe with features like Span.
- Bundle mac and linux builds of raylib(.so .dylib ).
- Add bindings to Rlgl.
- Physac binding needs to be fixed.

[2018-12-17 11:08] ChrisDill commented on #13
Update on this issue.
Bindings are on nuget currently unlisted.
I have tested them and they work but still subject to change.

[2019-01-13 16:15] rfaa00 commented on #13
Hey, I'm currently trying the 1.4.0 version of the nuget but I can't seem to use anything from it? Do I have to do something extra to get access to the methods?

[2019-01-13 21:15] ChrisDill commented on #13
So it says its installed but says they do not exist when you try to use them?

I have a similar issue with netcore that needs to be fixed. For some reason it does not add the bindings to the project.

[2019-01-13 21:21] rfaa00 commented on #13
Basically yes, the nuget installs fine but I cannot find any references to Raylib when coding. I'm using net core 2.1 with vscode, the 1.0.2 version of the nuget seems to work, although I have to copy the dll to the project to get it to run.

[2019-01-22 14:38] Ahzed11 opened #19 "Can not init a window in MacOS"
**Describe the bug**
Can't Init a Window on MacOS. (System.DllNotFoundException)

**To Reproduce**
Install the Raylib-cs Nuget Package through Visual Studio Mac and write this piece of code.
[code]

**Expected behavior**
A window should be Initialized with the chosen size and title.

**Details**
System.DllNotFoundException: raylib
  at at (wrapper managed-to-native) Raylib.Raylib.InitWindow(int,in

[2019-01-23 17:01] ChrisDill commented on #19
I have only tested on windows so I am not sure.  I think raylib needs to be built as a .dylib to work on mac.
https://stackoverflow.com/questions/40878149/is-it-possible-to-use-dlls-with-visual-studio-mac
I cannot do it myself so thats why its not yet supported.

[2019-01-24 20:56] rfaa00 opened #20 "Use the enums!"
**Is your feature request related to a problem? Please describe.**
Many of the raylib bindings use e.g. an int as input parameter while still having a corresponding enum that doesn't seem to be used anywhere. Is this intentional?

[code]

**Describe the solution you'd like**
A method that uses the enum and simply casts the value to an int(or the appropriate type) and then calls the raylib method.

[2019-01-29 10:37] ChrisDill commented on #20
Thanks for the suggestion! Its something im working on.

Bindings started using int to try to match existing examples. More enums were added later but I couldn't find a way to implictly cast them so I left it for a while.

I think I should deprecated the old constants that the enums replace anyway so it might be better to test using them directly.

[2019-02-08 08:59] Lathuys commented on #4
So... how can I add this to my .NET Core project?

[2019-02-08 09:42] Lathuys opened #21 "FormatText function missing"
In raylib v2.0.0 quick reference card there is a FormatText function described like this:
const char *FormatText(const char *text, ...); // Formatting of text with variables to 'embed'
and here it is missing

[2019-02-08 10:38] ChrisDill commented on #4
@Lathuys The test projects are for running examples. Netcore support is almost complete although there is a issue with installing. See https://github.com/ChrisDill/Raylib-cs/issues/13

[2019-02-08 10:47] raysan5 commented on #21
@Lathuys `FormatText()` has been renamed lately to `TextFormat()` to keep consistency with a bunch of text management functions... actually most of those functions are a C repkacement for C# String methods. Maybe raylib-cs should use those methods instead...

[2019-02-08 17:03] ChrisDill commented on #21
It is using string.Format instead at the moment. It is not exactly the same so it might be a good idea to change it.

[2019-02-25 10:14] #20 closed

[2019-02-26 15:01] ChrisDill opened #22 "2.5 plan"
Plan to update project for raylib 2.5.

- [ ] Reduce unsafe with features like Span.
- [x] Support for mac and linux builds of raylib(.so .dylib) #19.
- [x] Decide how to support modules such as physac.
- [ ] Improve generator so it can regenerate current bindings.
- [x] Highlight differences more clearly. #21 TextFormat etc.

[2019-02-26 15:02] #13 closed

[2019-02-26 15:40] #21 closed

[2019-02-27 13:58] ChrisDill commented on #22
Module issues
1. Currently uses a custom build system since modules are optional and not all included by default(raygui).
2. Cannot modify data stored in c since it is copied. In physac it stores PhysicsBodyData and returns a pointer to it. From c# it is copied so changes have no effect on the simulation.

Maybe port fully to c# instead or modify them so they work easier.
Unsure how to go about so

[2019-02-27 17:59] raysan5 commented on #22
Hi @ChrisDill, actually most of the key modules are included by default, there are only some special cases:
 - [raudio](https://github.com/raysan5/raylib/blob/master/src/raudio.c) module can be skipped with compilation flag `INCLUDE_AUDIO_MODULE`.
 - [easings.h](https://github.com/raysan5/raylib/blob/master/src/easings.h) This module is independent of raylib, just a handy easings library, mostly i

[2019-02-27 20:24] ChrisDill commented on #22
@raysan5 I guess I mean accessible from c# by default. Edited the description. Most of the modules work when exported across. I think I might try a physac port to compare.

[2019-03-05 13:29] Bambofy opened #23 "Memory leak."
Loading the library causes a huge memory leak on running the default project.

[2019-03-06 08:03] msmshazan commented on #23
Which operating system?

[2019-03-07 09:03] Bambofy commented on #23
http://richardbamford.io/dmp/958M0MFHvl.mp4

[2019-03-07 12:04] ChrisDill commented on #23
Try this in your loop.
[code]

[2019-03-08 09:47] Bambofy commented on #23
Works! thanks :) awesome library.

[2019-03-11 17:44] Bambofy opened #24 "Transparrent textures on planes not transparrent?"
<img width="400" alt="RaylibTesting_0ef4eTvQY7" src="https://user-images.githubusercontent.com/1304898/54145123-37abde80-4425-11e9-8da0-0969cc3536d2.png">

Here, the texture on the sword plane's edge is transparent, but the plane mesh/model behind is cut off to the clear color. How can i resolve this?

[2019-03-11 17:48] Bambofy commented on #24
Actually the sword's transparent works fine, but the alpha on this image isn't working?
Might be something to do with the CropImage()?

![bomb_party_v4](https://user-images.githubusercontent.com/1304898/54145391-d6383f80-4425-11e9-97e3-72c3069fab2f.png)

[2019-03-12 12:28] Bambofy commented on #24
after more experiment i have found that it's something to do with the depth testing?

[2019-03-12 12:33] Bambofy commented on #24
Ok i have found a hacky solution by discarding any fragments that are transparrent.

"
in vec2 fragTexCoord;
in vec4 fragColor;
in vec3 fragNormal;
in vec3 fragPosition;

uniform sampler2D texture0;
uniform vec4 colDiffuse;

out vec4 finalColor;

void main()
{
    vec4 texturePixel = texture2D(texture0, fragTexCoord);
    if (texturePixel.w < 0.5)
    {
        discard;
    }
    finalColor = text

[2019-03-13 18:44] msmshazan commented on #23
@Bambofy please close the issue if the problem is solved :)

[2019-03-13 18:57] #23 closed

[2019-03-14 20:37] Bambofy opened #25 "Camera3D camera target Y value NaN"
Camera3D camera target's Y component is NaN in the FPS camera mode. It causes calculations with it to be NaN.

[2019-03-17 12:52] ChrisDill commented on #22
I have looked more into modules and I think porting some of them makes the most sense for now. Using a custom build has been causing issues for cross platform support.

[2019-05-11 11:08] LetsCode-Angus commented on #19
Yeah @ChrisDill @Ahzed11, It needs to be built as a .dylib to be compatible, this would require you to build it yourself, using the Xcode GCC implementation

[2019-05-12 03:34] LetsCode-Angus opened #26 "Raylib DLL's do not export necessary functions"
The most up to date raylib binaries do not contain the correct exports for certain core functions such as InitWindow(). This may require a native wrapper with the correct exports to be built into a new library.

Eg;
[code]
This wrapper code could then be built against a static lib of raylib to result in a single, correctly built, dll file.

[2019-05-12 08:59] ChrisDill commented on #26
InitWindow() should work with the current version of raylib. It should be exported with the RLAPI define. The native libraries in this project need to be reviewed.

[2019-05-18 14:35] ChrisDill commented on #22
Update: Removing custom built libraries.

At first I thought having one you can install would save people time but after trying that for a while I ended up using a custom build in my own project. I found that including all modules by default is not the best option in reality and it works out better to leave that up to the user.

[2019-05-29 13:51] GoldenQubicle opened #27 "Unable to find an entry point named 'InitPhysics' in DLL 'libraylib'"
Running the demos with the latest 2.5 release and all of them are working fine except for the physics examples. These all throw the same unhandled exception on InitPhysics.

[code]
Tried a few things like setting exactspelling to false for the dll import, and adding a reference to the dll in the csproj file, but to no avail.

I'm running the demos with the Test.NetCore app and using the **mingw**

[2019-05-29 17:29] ChrisDill commented on #27
The examples need to be updated for 2.5. The extra modules such as physac also need improving.

As for finding the functions, you need to build the physac implementation into the library. There are a few flags in the Makefile for doing this such as RAYLIB_MODULE_PHYSAC although they might not be exported yet.

[2019-05-29 18:17] GoldenQubicle commented on #27
Ah I see thanks for clarifying. Bit of a shame but it leaves plenty to play around with. Thanks for these bindings!

[2019-05-29 18:17] #27 closed

[2019-06-09 21:16] FireflyX commented on #9
@ChrisDill Why not just compile the library with unsafe?

With .Net Core I believe you can use Span<T> and its variants to handle this issue without `fixed`.  But don't quote me on that.

[2019-06-10 07:48] ChrisDill commented on #9
At the moment it is compiled as unsafe. I may keep it like that. I have tested using Span properties that use the IntPtr for mesh vertices, texcoords etc. Not sure if I prefer that.

[2019-06-10 10:25] ChrisDill opened #29 "Improving code generation"
I have tried a few different ways to generate binding code to make sure the bindings can stay up to date with the original. This post will be updated on the current state of the issue to hopefully make things clearer.

### What has been tried so far?
CppSharp generator
- Close to what I wanted but a few issues with the output not being minimal and readable compared to what I had manually made.

Ro

[2019-06-10 10:29] #19 closed

[2019-06-10 10:36] ChrisDill commented on #24
Not sure if this is a issue with the binding code or not. Please refer to the [author's project repo](https://github.com/raysan5/raylib) and ask there. If it is then open a new issue here with further details.

[2019-06-10 10:37] #24 closed

[2019-06-10 10:40] #26 closed

[2019-08-08 07:35] sbarisic opened #31 "Use System.Numerics instead of custom vector types"
It would be a wise idea to use System.Numerics for vector and matrix types, as it would be more compatible with other libraries. They're also SIMD accelerated, and marshalling them works fine.

[2019-08-09 10:16] ChrisDill commented on #31
@sbarisic That sounds interesting though I don't plan to change the vector and matrix types at the moment. Ideally a feature like this would be optional for those who want it.

[2019-08-26 05:51] drwharris opened #32 "Cant build"
My setup is a raspberry Pi 3b+ running Raspbian Buster.

On the Pi I have installed dotnet core 2.2 and can create, build and run the standard Console "Hello World" app.

I have downloaded the "raylib-2.5.0-Linux-i386.tar.gz" library and placed "libraylib.so.2.5.0" in the root of my source directory as libraylib.so. Ive added the following to my csproj file:

[code]

And can confirm that the file

[2019-08-26 08:40] ChrisDill commented on #32
I currently do not have a raspberry PI I to test. It depends where it is looking for the library. Look at the search paths at https://www.mono-project.com/docs/advanced/pinvoke/. Maybe it works like the linux search path?

[2019-08-26 10:43] drwharris commented on #32
Yeah its just Linux, hence my statement about /usr/lib.

So guessing no ideas?

[2019-08-26 14:12] ChrisDill commented on #32
Hmm. Check the architecture you are building for. Maybe try 64 bit instead although if it is not finding it then you need to debug what is is doing using the LD_DEBUG environment variable.

[2019-08-27 05:50] drwharris commented on #32
Does your code require 64 bit? Raspbian is a 32bit OS.

I have tried LD_DEBUG and all it tells me it that i cant find the library including in /usr/lib which it definitely is in. Which makes me think maybe its an OS Architecture issue.

I might try installing Ubuntu Mate which is 64bit.

[2019-08-27 06:22] ChrisDill commented on #32
It shouldn't require 64 bit. Is your dotnet core project set to target 32 bit?

[2019-08-29 10:27] drwharris commented on #32
OK so I stuck with Raspbian and compiled raylib on the Pi and used that library and it all works fine.

So turns out that the runtime reports "DllNotFoundException" if it finds the library but it cant load it.

[2019-08-29 10:28] #32 closed

[2019-09-03 01:50] drwharris commented on #29
Hey Chris. Interestingly I have been working on some stuff with Roslyn and decided to spend a day working on trying to get the Raylib headers parsed and into CS files.

Not sure what you are doing to generate to pastebin sample but this would be 100% hands off.

My issue at the moment is that my C knowledge is not great so I am guessing at reasoning for certain decisions.

I have Enums done and St

[2019-09-03 07:17] ChrisDill commented on #29
There have been a few different attempts for code generation. The current generator which also uses Roslyn has not been used in a while so it is likely out of date.

One of the issues is handling has been handling edge cases for making the api easier to use. I am currently trying a approach based on [this post](https://ourmachinery.com/post/creating-cross-language-apis/).

I am interested to learn

[2019-09-10 07:10] drwharris commented on #29
Sorry for delayed response. I am not doing anything particularly genius, just parsing the .h files and using Roslyn to build up a .cs file. Not really sure what the "approach" is you're talking about. What I got from that post was that the raylib library would have to have a very standardised API.

One thing I have noticed however is that you are incorrectly defining pointers as Object arrays. 2 E

[2019-09-11 13:44] #9 closed

[2019-09-25 06:50] ChrisDill commented on #25
Sorry I didn't respond to this issue sooner.

I need a example to test this issue. For example, how are you setting up the camera. Is it similar to core_3d_camera_first_person etc.

[2019-09-25 07:11] ChrisDill opened #33 "3.0 plan"
Preparing bindings for the release of raylib 3.0.

-  **Reduce unsafe with features like Span** I tested it on the Mesh arrays and it makes it easy to use it as a normal array, however I am not sure it is something that should be in the binding code directly.  I am thinking of having a example showing how to use it though.

-  **Improve generator so it can regenerate current bindings.** See #29 fo

[2019-09-25 07:13] ChrisDill commented on #22
Preparing for next raylib release here #33.

[2019-09-25 07:13] #22 closed

[2019-10-07 20:33] dallinbeutler commented on #29
Have you already looked into [CppSharp](https://github.com/mono/CppSharp) for doing this? Before I looked further into it I figured you might have already tried it.

[2019-10-08 07:55] ChrisDill commented on #29
CppSharp helped but it is more focused on C++ and I had issues generating the C bindings I wanted with it.

[2019-10-16 17:31] ChrisDill commented on #7
Updating examples so they work out of the box. Since this issue was closed there have been API changes that have broken them.

- Color defines moved from Raylib to Color.
[code]

- Functions use enums instead of int where commonly used.
[code]

[2019-10-27 11:35] phxvyper commented on #29
CppSharp is designed for both full C and C++ support. It relies on LLVM-Clang's parsers - which have support for all major C and C++ standards. I actually have a test project here that successfully generates and uses a C# binding from the raylib headers, using CppSharp, here: https://github.com/phxvyper/raylib-cppsharp

There are a few minor code changes required in order to get the raylib headers

[2019-10-27 12:39] ChrisDill commented on #29
When learning about PInvoke I used https://github.com/flibitijibibo/SDL2-CS for reference. Thanks for sharing your test project. I think I had something similar at the start but I could not figure out how to change the output to exactly what I wanted. For example I wanted the option to not have structs wrapped in classes or any name mangling.

There was a old[ issue](https://github.com/mono/CppSha

[2019-11-09 20:06] #25 closed

[2019-12-03 02:25] Shadowblitz16 opened #34 "Using this with winforms or other gui libraries?"
is it possible to use this with winforms or other .net gui libraries?

[2019-12-03 08:09] ChrisDill commented on #34
There was a example for windows forms. I moved it to a gist [here](https://gist.github.com/ChrisDill/c2ca6a0ccf592c073a8d2aaeaa4adb7f) for now. Have not tested in a while but it is a good starting point. I am not sure about other gui libraries.

[2019-12-05 17:33] StevenGann opened #35 "Generating a Mesh"
I'm attempting to implement Marching Cubes with Raylib-cs, but I ran into some serious problems trying to figure out how to properly create a Mesh struct. I started by trying to recreate Raylib's GenMeshCube() function in C#, and quickly ran into a lot of issues crossing between managed and unmanaged memory.

Is there a simpler way of doing this? Or would I be better off implementing this section

[2019-12-05 18:36] ChrisDill commented on #35
Currently the bindings are not ideal in places like this. See [this issue] (https://github.com/ChrisDill/Raylib-cs/issues/9) for details.

You can Marshal the data or use Span<T> around it. I tried Span<T> before as a test for the mesh vertices and it seemed to work as expected although I am no expert so I can't help much on this.

I used [SDL2-cs](https://github.com/flibitijibibo/SDL2-CS) as a re

[2019-12-05 22:30] StevenGann commented on #35
It's frustrating, but I appreciate your hard work. Raylib is fantastic but getting it building smoothly in Visual Studio is a pain, and I'm really partial to C# over C or C++ for anything that runs on an OS. Raylib-cs has absolutely spoiled me since I was able to pound out a simple 2D game that outperforms Monogame by a wide margin.

For now, I'll have to improvise. I'm hoping a more elegant manag

[2019-12-06 09:47] ChrisDill commented on #35
No worries. I'm glad you found the bindings useful!

I want to improve it at some point. I have seen some improvements in 2.6-dev that should help like changing the fixed arrays to pointers which means I shouldn't need to use the fixed keyword anymore.

[2019-12-11 00:36] Shadowblitz16 opened #36 "Please release this on nuget for visual studio 2019 community"
please release this on nuget. I want to try out this library but I don't want to have to manually compile and link the libraries.

[2019-12-11 10:55] raysan5 opened #37 "Provided solution can't find some projects"
I tried downloading the repo and open provided solution, most of the projects contained can not be found. I tried adding `Tests.MultiTarget.csproj` but it fails on compilation, I get this error:
[code]

[2019-12-11 11:42] ChrisDill commented on #37
I think the DotNet.ILCompiler was needed for CoreRT although I have not spent much time with it. Removed for now. Will try to revisit CoreRT support fully in the future.

A while back I changed Tests to a multi-target project so I didn't need to have seperate project files for each target. Updated just now with some of the changes.

I have not tested in visual studio etc so I don't know how to spe

[2019-12-11 11:50] ChrisDill commented on #36
I tried a nuget release although I felt I put it out too quickly and there were issues with it so I unlisted it. I may revisit it in the future when the I feel the project it is ready to try it again.

For now I recommend copying the bindings to your project and using a official raylib [release](https://github.com/raysan5/raylib/releases). You only need to compile yourself for extra modules like r

[2019-12-13 21:32] Shadowblitz16 commented on #36
aww ok

[2019-12-22 05:22] Shadowblitz16 opened #38 "embed raylib unmanaged c++ library in C# managed library"
please embed the unmanaged c++ raylib library into a managed C# library.
I would recommend a .net framework and .net core version.

https://github.com/Fody/Costura.

this makes it easier on developers using your library and also allows people to static link their own libraries easier.

this would also make it easier to upload to nuget and overall make the users project and application cleaner.

[2019-12-22 05:49] Shadowblitz16 commented on #34
thankyou I will take a look

[2020-01-03 02:54] StevenGann opened #39 "Loading OBJ File"
Maybe I'm being dense, but I'm attempting to load an OBJ file as done in one of the examples and and running into an error.

`Model model = LoadModel(@"monkey.obj");`

[monkey.zip](https://github.com/ChrisDill/Raylib-cs/files/4017989/monkey.zip)

Attached is the OBJ file I'm trying to load. LoadModel throws a System.ExecutionEngineException. I've attempted different paths, including a full absolut

[2020-01-03 11:59] ChrisDill commented on #39
Thanks for letting me know about this issue. Looks like it is another marshaling issue. This time with the Model. Looks similar to the problem with issue #9 with the arrays of custom structs.

There were some changes to raylib to reduce the need fixed arrays part although I am not sure on the best way to fix the rest.

The model struct for raylib 2.5:
[code]

The C# version:
[code]

To fix this I

[2020-01-03 14:57] Shadowblitz16 commented on #38
this might also get rid of the need to compile with unsafe if the Bindings are compiled into it.

[2020-01-03 15:48] ChrisDill commented on #38
I don't know much about this. It says it is in maintenance mode and also mentions .NET Core 3 single file executable and assembly linking as alternatives.

I don't want to maintain seperate versions for framework and core.  That is why I moved the tests into one project with multiple targets. Also there was the announcement of [.NET 5](https://devblogs.microsoft.com/dotnet/introducing-net-5/) whic

[2020-01-04 05:25] StevenGann commented on #39
Oh bother. That's rather inconvenient. Hopefully the next update will fix this along with mesh generation?

Any suggestions for the meantime? I can make do drawing primitive shapes for now, I guess.

[2020-01-04 13:40] ChrisDill commented on #39
Primitive shapes should work okay as far as I know. I think the next version of raylib 2.6 should be released soon. I think I will wait until then to do a bigger update.

My focus at the moment is getting the examples updated and working so I can test and find these issues sooner. I guess I missed this issue with models as I have not used raylib in C# for 3D. I would also like to try continuous in

[2020-01-05 10:04] ChrisDill commented on #33
Update on progress made.

Issues have been found with 3D here #39 and #35. I am stuck on deciding the best way to handle this issue.

Currently using IntPtr. This allows types like Mesh to Marshall to C# but makes accessing the data more difficult. I have also tried with the newer Span<T> which is nicer although for now I don't think the user should require it.

My main focus at the moment is gett

[2020-01-05 11:11] raysan5 commented on #33
@ChrisDill thanks for the update! I plan to release the new version by February. I wanted to finish some things before but I think I'll just release a new version with current state. 😊

[2020-01-11 00:17] uSources opened #40 "DllNotFoundException"
Hi,

I have read the README.MD in detail, I have downloaded from the GIT of raylib the release for windows x64 bits and windows x32 both msvc15.

The dll that is in the bin folder, I have copied it in a multitude of parts because nowhere has he achive to find the DLL.

I have copied it to system32
I have copied it to system
In the root of the project
In the root of the executable project

And ther

[2020-01-11 09:36] ChrisDill commented on #40
There are different reasons why it might not find the dll. I assume you have looked through https://www.mono-project.com/docs/advanced/pinvoke/.  My bindings look for raylib so on windows it should look for raylib.dll.

Which dll are you trying to load? Check the architecture of the dll matches your C# project. E,g 64bit should match a 64bit C# project etc.

Hope this helps.

[2020-01-11 12:11] uSources commented on #40
Hi, yes i read Windows section on https://www.mono-project.com/docs/advanced/pinvoke/.  on webpage.
Im trying several configuration to run the proyect witch includes Debug AnyCPU ( use raylib 32 bits)
and Debug x64 (uses raylib 64 bits).

I copy at exe output folder and C:/Windows/System32

And nothing happens always says DLLNotFound Exception

Im despairing :(

[2020-01-13 19:01] uSources commented on #40
I didn´t give up and finally got a solution.

I didn´t add the DLL in the correct way to the VS solution.

Here I leave a response from a user in the Microsoft forums. It is the most voted answer

Thanks for the help.

[2020-01-13 19:01] #40 closed

[2020-01-22 20:49] ChrisDill commented on #33
Another update. More ideas on things etc.

To make things easier, here is a updated task list.

- [ ] Update bindings to raylib 2.6.

- [ ] Update examples to raylib 2.6. See #7.

- [ ]  Include the official release libraries for raylib. Tried with a custom build but trying a different approach this time.

- [ ] Add more details to README on api differences to raylib. Maybe create a seperate wiki

[2020-02-05 22:30] StevenGann opened #41 "Float vs Double"
I find that, when using Raylib-CS, I do a lot of casting between 32-bit float and 64-bit double.

In most applications on modern PCs, there's no reason to use 32-bit float instead of 64-bit double, since the execution time remains the same and you're only sacrificing precision. The big exception si if you need 32 bits for something, like some bit-shifting voodoo or micro-optimizations, but even th

[2020-02-06 18:52] ChrisDill commented on #41
I am not sure if changing them to double would cause issues with pinvoke functions converting between the types.  It might work as expected but you should test with some of the Vector2 and Vector3 pinvoke functions to be sure.

[2020-02-07 20:27] StevenGann commented on #41
Alright. I'll give it a whack and see if it works.

[2020-02-14 03:33] Shadowblitz16 opened #42 "Raylib.Raylib.DrawTriangleStrip does not exist"
this doesn't work due to DrawTriangleStrip not being implemented.

[code]

[2020-02-14 08:51] ChrisDill commented on #42
Not sure what version that was added. What version of raylib are you using and does it have that function?

The bindings are being updated on the dev branch to raylib 3.0. You can see that function [here](https://github.com/ChrisDill/Raylib-cs/blob/d78ee2493bf85c0f531129adebcdd280d9648b0a/Raylib-cs/Raylib.cs#L1934).

The dev branch has had some breaking changes and is not yet ready for use. Althou

[2020-02-14 20:34] Shadowblitz16 commented on #42
I just downloaded the dll like a week ago so it should be up to date

Its good to know these are being added
I can wait until then.

[2020-02-14 20:34] #42 closed

[2020-02-21 18:34] rishavs opened #43 "NuGet package does not work in most configurations"
I am trying to use Raylib-cs with fsharp on dotnet 3.1.

I am able to install the lib on a console app using `dotnet add Raylib-cs`
But now in my code doing
`open Raylib`
gives me the error `The namespace or module 'Raylib' is not defined.`

[2020-02-21 20:02] #41 closed

[2020-02-21 20:02] #36 closed

[2020-02-21 20:06] ChrisDill commented on #38
Update on this issue. I would like it to be easier to install and use the library. Current plan is to add a copy of the libraries of raylib for the release. I would consider the idea of embedding into a managed library if there is a up to date way of doing this.

[2020-02-21 20:06] #38 closed

[2020-02-21 20:09] ChrisDill commented on #43
I have not used fsharp so I cannot help there I am afraid. There are bindings for it here https://github.com/dallinbeutler/RaylibFS although I think it would need to be updated.

[2020-02-22 08:41] rishavs commented on #43
I quickly testing this in c# and I am getting the same issue.

I started by creating a new C# console app and then added Raylib-cs to it. However in the code, it is not recognising raylib-cs
[code]

![image](https://user-images.githubusercontent.com/1210239/75089288-44b1d700-557d-11ea-9842-18102ad04d87.png)

[2020-02-22 08:49] ChrisDill commented on #43
You should copy the bindings into your project directly instead of adding via the package. The package is unlisted and out of date. I had issues getting it to work. I may revisit it although I have been making breaking changes on the dev branch and it is not a priority at this time.

[2020-02-22 08:57] rishavs commented on #43
Thanks. Thta makes sense.
I have edited the title of the issue so that it refers to updating the lib on dotnet package repo.

[2020-02-22 09:05] ChrisDill commented on #43
The point of having it be a package is to make it easy for people to install and use so I would want it to include the native libraries too although I am not sure how it should be done. The dev branch is nearly ready to merge into master so I will work on that and take another look at this after.

[2020-02-27 13:42] ChrisDill commented on #7
Closing because Examples have been moved to a seperate repository and are being updated. Progress can be found [here](https://github.com/ChrisDill/Raylib-cs-Examples/issues/1)

[2020-02-27 13:42] #7 closed

[2020-03-20 22:53] Shadowblitz16 opened #44 "RL.DrawLineStrip takes 1 vector2 instead of a vector2 array"
RL.DrawLineStrip takes 1 vector2 instead of a vector2 array
`RL.DrawLineStrip  (ref Vector2, int, Color);`

please fix this before 3.0

[2020-04-03 15:27] #44 closed

[2020-04-04 09:50] ChrisDill commented on #39
@StevenGann Could you please check with the latest version of Raylib-cs if this is still a issue?

[2020-04-09 11:09] rishavs commented on #43
Hey Chris, I know you will have 3.0 as a priority but have you a timeline planned for this fix?

[2020-04-09 17:50] ChrisDill commented on #43
I am not sure. There are different ways I could package it and I have not found a clear guide for nuget packages that use native libraries. I have tried dotnet pack and that produces a package for Raylib-cs.dll but I am stuck on figuring out how to add the native libraries so they are included and also are copied to the output directory based on the platform being used.

[2020-04-09 18:16] ChrisDill commented on #43
Update. Taking another look to see if there was something I missed. Looks like there is a open issue abou usingt native libraries in nuget packages [here](https://github.com/NuGet/Home/issues/8623).

[2020-04-14 15:59] horseyhorsey opened #46 "Raygui"
Hi
How do we get setup to use the bindings for RayGUI?

Missing a binary for raygui.dll?

[2020-04-14 22:12] StevenGann commented on #39
Sorry, just saw this.

OBJ file loading is working now. Thanks! I did encounter some OBJ files that cause a crash, but I'll investigate further and document that in another issue.

[2020-04-14 22:12] #39 closed

[2020-04-18 22:48] Shadowblitz16 commented on #46
I would like to know this as well

[2020-04-18 23:29] Shadowblitz16 commented on #13
is this not going to be done?
it would be really nice if everything was in a neat little package.

[2020-04-19 08:15] ChrisDill commented on #13
@Shadowblitz16 This issue was my first attempt. It is something I am looking into fixing but there are some issues figuring out how to handle the native libraries. See issue #43 for details.

[2020-04-21 18:25] ChrisDill commented on #46
Initially raygui tried to load bindings from raylib but this required a custom build of raylib to include it as it is not built into raylib by default. This caused issues so I changed it to look for its own library raygui instead so on windows that would be raygui.dll etc.

There is a similar issue on raygui [here](https://github.com/raysan5/raygui/issues/75) with more details. I will look into im

[2020-04-21 18:26] #46 closed

[2020-04-25 12:57] matej-zajacik opened #47 "IsWindowMinimized() never runs"
`Raylib.IsWindowMinimized()` in my main loop never returns true, no matter what I do with the window (minimizing, switching to another window to have it lose focus, etc.).

Perhaps I'm misunderstanding something. How am I supposed to handle losing focus? I'd like to pause the simulation while out of focus for obvious reasons.

Thank you!

(I'm using the 3.0 version.)

[2020-04-25 14:40] ChrisDill commented on #47
I just tested this in C# and in C and I get the same behavior. When the app is minimized everything else is paused so IsWindowMinimized will never be called until you reopen the window but then it will return false.

[2020-04-25 15:15] ChrisDill commented on #47
Closing as this is not a issue specific to the bindings. I suggest opening a issue on the [parent repo](https://github.com/raysan5/raylib) instead.

[2020-04-25 15:15] #47 closed

[2020-04-26 22:01] matej-zajacik opened #48 "IsWindowFullscreen() has no return value"
https://github.com/ChrisDill/Raylib-cs/blob/master/Raylib-cs/Raylib.cs#L1216

It should return a bool.

[2020-04-27 16:52] ChrisDill commented on #48
Thanks. I have changed it to return bool.

[2020-04-27 19:43] #48 closed

[2020-04-27 19:43] matej-zajacik commented on #48
Thank you!

[2020-05-01 13:10] ChrisDill commented on #31
I have looked into this feature but I am currently unsure on the best way to proceed.
I tried to use System.Numerics in a test project to see how what users need to do to switch to it.

1. Add using System.Numerics in every file that uses these types.

2. Change fields like .x, .y, .z etc to .X, .Y, .Z etc.

This is a pain to do especially in a larger project so I looked to see if there was a easi

[2020-05-01 13:32] sbarisic commented on #31
The order of the matrix elements should match OpenGL as far as i know, for anything else it would be enough to just transpose them before doing calculations.

Another way to make this less painful is to add an implicit cast to/from System.Numerics vectors.

[2020-05-01 13:37] sbarisic commented on #31
It would be possible to create a wrapper over System.Numerics types and use implicit casts to automatically return internal type, but that pretty much defeats the purpose and makes it slower.

[2020-05-01 15:42] 9ParsonsB commented on #31
@ChrisDill I Wouldn't too much about adding/chaning `using`s in every file - I believe VS can do it now for you anyway.

[2020-05-01 18:36] 9ParsonsB commented on #43
Good news! We have just released a NuGet package targeting netstd2.0 (which should support Framework 4.7.2) & Core 3.1

So far we have tested it with the examples and with Github Actions, but please feel free to open new issues if there are problems with the package.

https://www.nuget.org/packages/Raylib-cs
`dotnet add package Raylib-cs`

[2020-05-01 23:48] TimoA200 opened #49 "Why are are there no examples of how to do some things in C#"
Hey,
why are there no examples of how to do some things in C#
For example I'm stuck with the following example
![grafik](https://user-images.githubusercontent.com/22802100/80849039-caa16c80-8c15-11ea-98f2-a01865d29ef0.png)

Why is CreatePhysicsBody returning IntPtr? I don't even know what that is.
![grafik](https://user-images.githubusercontent.com/22802100/80849102-050b0980-8c16-11ea-96dc-65029b6

[2020-05-01 23:52] TimoA200 commented on #49
Sry I just saw that you have an extra repository for that fuc*** me
Sry for everything,
ḩ̴͈͕̱͔̠͓̣̯͎̺̻̖͍̖͕͍̼̯̹̮͆̊͂͛è̶̮̬͕͉͔̤̙̬̼̭̦͈̮̼̍̌̐ļ̸̧̨̛̛̼̫̫̱͔̻̮͚̦̬̹̫͇͍̭͙͕̣̖̤͇̰̫̼̪̥̉̒̾̒̏̈̈́̐͒̎͋͒͂̉̌̓̇̿͌͌́̀̉̿̆͌̽̽͆̐͜͜͜͝͝p̸̛̬͎͙̣̦͚̱͋̐̆̎̀̀͋͗͝͝

[2020-05-01 23:52] #49 closed

[2020-05-02 21:46] ChrisDill commented on #31
@sbarisic There is now a numerics branch for this feature. I discussed it with @9ParsonsB and we decided that keeping this feature compatible is not possible so it is being tested as a breaking change. So far Vector2, Vector3 and Vector4 have been replaced.

Matrix4x4 has a different layout but transposing the matrix works for going from the numerics layout to the raymath and vice versa. Because o

[2020-05-03 03:47] 9ParsonsB commented on #43
Seems like the current solution does not work for netfx under certain conditions. Refer to #3 of [this NuGet issue ](https://github.com/NuGet/Home/issues/6645) and [this comment](https://github.com/NuGet/Home/issues/6645#issuecomment-383639802)

Current options seem to be:
1. Add a target file (which means writing a target for each arch & platform we want to support)
2. rename the `runtime` folder

[2020-05-03 06:16] matej-zajacik commented on #31
I'm undecided on the switch to the standard `System.Numerics` types (not sure of the benefits), but as far as breaking changes go, that shouldn't be a problem, should you decide to make the switch. It takes just minutes, maybe tens of minutes to adjust a project.

[2020-05-03 09:07] ChrisDill commented on #43
@9ParsonsB I say we should look into the target files. I agree that renaming the folder to libs is hacky and sounds like it will cause more problems. The nuget package should be able to be built using dotnet pack with no other steps needed. If netfx can not work with that then we won't be able to support it.

[2020-05-03 13:04] ChrisDill commented on #43
To make it clear on the runtimes we are currently supporting. The libraries we include for these runtimes are taken from the official raylib release:

- linux-x64
- linux-x86
- osx-x64
- win-x64
- win-x86

It is possible that linux-x86 and win-x86 support is dropped in the future as I do not use them myself and there is a extra cost in having to support/test them. Currently they are the least test

[2020-05-03 14:20] #31 closed

[2020-05-05 18:03] 9ParsonsB commented on #43
After some more investigations, I have another approach for packaging native libraries after reviewing this: https://github.com/NuGet/Home/issues/8623 (now using `Content` rather than `Reference` in the `.targets` file)

I will push a new package version now and hope someone can test it for me [join us on discord!](https://discord.gg/VkzNHUE)

[2020-05-10 16:36] brandc87 opened #52 "Strange issue with RenderTexture"
Hey. I'm just starting with Raylib and the C# Binding and seem to be having an issue with Render Textures.

I'm on a macOS 10.15.4 application is .NET Core 3.1

I create a texture the same size as the screen based on the examples when I draw it the size is off and if I move the window the my second monitor it zooms right into the bottom left corner.

[code]

Will result in drawing:

<img width="10

[2020-05-10 18:52] brandc87 commented on #52
On further investigation it seems related to [this issue](https://github.com/raysan5/raylib/issues/1086)

[2020-05-10 22:30] Shadowblitz16 commented on #43
does this use 64 bit binaries? I keep getting this..
![image](https://user-images.githubusercontent.com/2453707/81512131-0a7de900-92d3-11ea-958b-4da534898abf.png)
I downloaded the latest raylib native library and both 32 and 64 bit doesn't seem to work

[2020-05-11 08:33] ChrisDill commented on #43
@Shadowblitz16 The latest nuget package currently includes the x64 and x86 libraries. Check that you are using the latest nuget release. You should not need to download the latest raylib library yourself to use the nuget package.

[2020-05-11 08:41] ChrisDill commented on #52
@brandc87 I remember seeing a issue like this on [discord](https://discord.com/invite/VkzNHUE) so I suggest discussing it there. It does not seem to be to do with the bindings themselves.

[2020-05-11 18:20] brandc87 commented on #52
@ChrisDill thanks I've jumped on discord and it seems there is a work around which requires a new call to the GetWindowDPI function I'll get playing with that :)

[2020-05-11 18:20] #52 closed

[2020-05-24 07:18] horseyhorsey opened #53 "GetImageData as Color[]"
Hi

I've been attempting to get a `Color[]` from the screen but not sure how to get the array of pixels from the `ToPointer`,  just returns a single `Color` ?

[code]

[2020-05-24 13:25] ChrisDill commented on #53
It shows a single element because mapPixels is a pointer and it shows shows the element it is pointing to. This does not mean there is only one element inside it.

You can see this by looping through the colors. Note there is a large number of colors in screendata.
[code]

You could also use the newer [Span<T>](https://docs.microsoft.com/en-us/dotnet/api/system.span-1?view=netcore-3.1) which may b

[2020-05-24 14:02] horseyhorsey commented on #53
Thanks. I wasn't aware of Span or the `Color*` asterix reference in C#. That should've rang bells from using C.

`Note there is a large number of colors in screendata.`

Yes, I do have a small display though which may help it get through the work! :)

[2020-05-24 15:23] #53 closed

[2020-05-24 15:47] horseyhorsey commented on #43
I get the incorrect format when trying to run `win-x86`, `x64` is fine though.

I was running from fork before but have just started to use the nuget.

[2020-06-06 01:52] Shadowblitz16 opened #54 "can't add package through package manager console"
package manager doesn't work with this
[code]

installing it through the gui doesn't work either since after I do it there is no raylib namespace
![image](https://user-images.githubusercontent.com/2453707/83933509-f906f000-a75d-11ea-8376-43248b50b00d.png)

[2020-06-06 04:05] Shadowblitz16 commented on #43
@ChrisDill the nuget package doesn't even install the C# bindings for me
I am using a .net framework 4.6

[2020-06-06 04:12] Shadowblitz16 commented on #43
@ChrisDill it doesn't work
![image](https://user-images.githubusercontent.com/2453707/83935737-214c1a00-a771-11ea-894d-c90d70b95166.png)
this is a blank console app targeted at .net framework 4.7.2

[2020-06-06 04:13] Shadowblitz16 commented on #54
I wasn't using .net framework 4.7.2

[2020-06-06 04:18] Shadowblitz16 commented on #38
@ChrisDill reopen this please
you can embed the native dll using the Fody libraries

[2020-06-06 04:31] Shadowblitz16 opened #55 "System.DllNotFoundException: Unable to load DLL 'raylib'"
![image](https://user-images.githubusercontent.com/2453707/83935957-84d74700-a773-11ea-813f-90cced081978.png)

this needs to be fixed.
I followed the instructions in the readme and it doesn't work.

If we need to copy the native library to the root of the project it should say so it the readme's nuget section

[2020-06-06 11:06] ChrisDill commented on #55
The library only needs to be copied if you are installing manually so the readme is fine. If you installed the nuget package and it fails to load raylib then that is a bug.

[2020-06-06 18:33] Shadowblitz16 commented on #55
its a bug then

[2020-06-06 18:40] Shadowblitz16 commented on #54
so uhh this still can't be done through the packager manager console.
or at least not for me

I am using visual studio 2019 an nether
`dotnet add package Raylib-cs`
or
`dotnet add <projectname> package Raylib-cs`

work for me
[code]

[2020-06-06 19:03] ChrisDill commented on #54
Hmm. Can you share your .csproj file that you are adding to. It seems to be a issue with your project preventing it from using package references.

Also try building and running [Raylib-cs-Examples](https://github.com/ChrisDill/Raylib-cs-Examples) to see if the same error occurs.

[2020-06-07 03:14] Shadowblitz16 commented on #54
[Rouge.zip](https://github.com/ChrisDill/Raylib-cs/files/4741341/Rouge.zip)

[2020-06-07 11:09] horseyhorsey commented on #43
Set to x64.

Please set x86 and report that doesn't work.

[2020-06-07 22:05] Shadowblitz16 commented on #43
nope that doesn't work either
![image](https://user-images.githubusercontent.com/2453707/83981165-5458ef80-a8d0-11ea-8755-fa537bc7ca42.png)

[2020-06-11 15:03] Shadowblitz16 commented on #54
@ChrisDill I can build and run the examples..
![image](https://user-images.githubusercontent.com/2453707/84403006-0c7ce580-abba-11ea-8d64-7332cd9d26f7.png)

[2020-06-14 18:35] Shadowblitz16 commented on #54
stripping the examples to a basic app doesn't work tho

[2020-07-02 10:39] 630Studios commented on #55
I have also installed the nugget package, and have this problem.

[2020-07-21 10:03] 9ParsonsB commented on #43
@Shadowblitz16 Are you targeting .Net Framework or .Net Core?

.Net Framework doesn't handle cross-platform native libraries that well - in this case you will need to copy the native raylib dll into your output directory.

In any case, you will probably have better luck by only building x64. I know AnyCPU is broken. not sure about x86.

I am currently testing a fix for this (see pre-release NuGet

[2020-07-21 10:04] 9ParsonsB commented on #55
@Shadowblitz16 Are you using the NuGet package? If you are using the NuGet package then this is a duplicate of #43

Where did you put the native library?

[2020-07-21 10:05] 9ParsonsB commented on #54
#43 Covers this issue.

[2020-07-21 10:05] #54 closed

[2020-07-21 10:24] ChrisDill opened #56 "Improving documentation"
Discussion on the state of documentation for this library.

## Code comments.

Using the same comments with the same style as raylib. One idea is to change them to the xmldoc style which can be used to generate external documentation. Unsure if this should be done but worth looking into.

## Tech notes

Documenting api differences to make it easier for people new to raylib. Could move details like

[2020-07-21 10:28] ChrisDill commented on #37
@raysan5 When you have time could you provide a update on this issue.  The project has changed a lot since this was opened so this should be fixed. If you encounter any similar issues then please let me know.

[2020-07-21 22:59] Shadowblitz16 commented on #55
@9ParsonsB I put it in the root of the project and then marked its as copy to output 'always'

[2020-07-22 06:30] 9ParsonsB commented on #55
@Shadowblitz16 Can you see raylib.dll in the output directory? (Generally in `/Debug/Bin/`)
What architecture of the raylib dll did you download, the x86 or x64? and was it the msvc version?

[2020-07-23 04:17] Shadowblitz16 commented on #55
I'm pretty sure it was in `/Debug/Bin/` because I used other native libraries before and they have worked
I downloaded msvc I beleave

[2020-08-03 17:26] DanielGoldenberg0 opened #57 "Titlebar color doesn't match system theme (macOS)"
Unlike in the C version of raylib which does this automatically, the c#/dotnet version of raylib does not automatically set the window titlebar color to fit the system theme. Instead, it's stuck on the light theme

[2020-08-04 15:57] ChrisDill commented on #57
The bindings call into raylib to create the window so I don't see why there would be a C# issue as it should be created the same way. I do not have access to macOS so I cannot test this myself. At a guess maybe there is a difference in the raylib versions.

[2020-08-05 22:29] DanielGoldenberg0 commented on #57
@ChrisDill Well then I am guessing that it may be a .NET Core related thing

[2020-08-05 22:29] #57 closed

[2020-08-08 08:14] pupiraresdi opened #58 "I cannot use it with an OpenGL 2.1 PC"
The raylib.dll is only available as the OpenGL 3.3 version when you download raylib-msvc15 so i cant use it.

[2020-08-08 08:42] ChrisDill commented on #58
@pupiraresdi This is because raylib has a variety of config options to compile with. I looked into custom builds but there are many configurations and I don't think I can support that. For OpenGL 2.1 you need to do a manual install with a custom version of raylib built for it.

[2020-08-08 09:29] pupiraresdi commented on #58
Can you help me on a manual install, i use windows, raylib has an option to compile with OpenGL 2.1 but it doesnt compile a dll

[2020-08-08 09:30] pupiraresdi commented on #58
I don't know how to compile it into an msvc version

[2020-08-08 09:47] pupiraresdi commented on #58
@ChrisDill i don't know how to compile raylib into an msvc version

[2020-08-12 21:14] ChrisDill commented on #55
@9ParsonsB It seems 3.1.8-pre and 3.1.8-pre2 do not include the native runtimes as expected meaning users could not find the native library when they install the package.

I did not find the issue as I had a system version installed which it found instead. I am surprised I did not find this sooner. Clearly more testing should of been done to prevent this. Currently github actions only builds the C

[2020-08-12 21:55] ChrisDill commented on #55
I updated the README install command to use the version 3.1.5 which is the latest stable release. There was a version for 3.1.6 but that was unlisted due to bugs. Running 'dotnet add package Raylib-cs' for me sets the version to 3.1.6. I expected it to install 3.1.5 which is the latest stable and public version. I am not sure if this is a bug with nuget bug.

[2020-08-14 14:17] horseyhorsey opened #59 "linux-arm build for Raspian desktop..."
Is this possible? I am trying to build for RASPI at the moment but it is a PITA tbh, hopefully get there soon.

[2020-08-14 15:12] ChrisDill commented on #59
@horseyhorsey Raylib-cs uses the libraries in the official releases of raylib. If you need a custom version you need to build raylib yourself. Here is a [guide](https://github.com/raysan5/raylib/wiki/Working-on-Raspberry-Pi) on building for the raspberry pi from the raylib wiki.

[2020-08-14 15:28] horseyhorsey commented on #59
Thanks Chris. I have had issues building / following that guide and some of the examples. If successful will be sure to try.

[2020-08-16 19:08] Soup-64 opened #60 "raylib breaks netcore 3.1"
adding the nuget package seems to break .NET core 3.1

![image](https://user-images.githubusercontent.com/43444191/90342016-bf125f80-dfd2-11ea-80db-5dedc24a044b.png)

[2020-08-16 19:13] Soup-64 commented on #60
nvm vscode was being really strange, not sure why it broke

[2020-08-16 19:13] #60 closed

[2020-08-17 17:59] ChrisDill commented on #58
@pupiraresdi Look at the msvc guide on the [raylib wiki](https://github.com/raysan5/raylib/wiki/Create-Visual-Studio-Project) for help compiling using msvc. There are built in projects for VS2017 you can use for building raylib which you should be able to re target to use OpenGL 2.1.

For other questions about compiling raylib, I recommend opening a raylib [issue](https://github.com/raysan5/raylib

[2020-08-17 18:05] ChrisDill commented on #33
Closing as I feel a new issue should be created for the next release of raylib.

[2020-08-17 18:05] #33 closed

[2020-08-25 10:42] Giorgio54 opened #61 "Unable to load textures"
I'm trying to load a texture and it gives me an error saying: "Attempted to read or write protected memory. This is often an indication that other memory is corrupt".
I also tried the examples and I get no error but in the console it says "WARNING: [resources/texture.png] failed to load" and the texture doesn't show, fonts, 3d object, ... works fine, it's just textures

[2020-08-25 12:56] CalSch opened #62 "How do I use rnet"

[2020-08-25 14:58] ChrisDill commented on #62
There are no bindings for rnet. I may consider it some once it is ready although I use [lidgren](https://github.com/lidgren/lidgren-network-gen3) in my own project so I don't have a need for it.

[2020-08-25 14:58] #62 closed

[2020-08-25 15:01] #58 closed

[2020-08-25 15:07] ChrisDill commented on #61
Make sure you call `LoadTexture` after `InitWindow` as that sets up the opengl context which is needed when loading textures.
The examples working directory must be set to the root of the examples repo although I am considering changing how that works.

[2020-09-02 13:59] ChrisDill commented on #61
@Giorgio54 Update on the examples. I have now merged the resources folders into one to make it easier to setup and load them correctly.

[2020-09-02 13:59] #59 closed

[2020-09-03 12:49] bayganik commented on #61
Wow, this was a great help!! Going crazy trying to figure out the access violation.

[2020-09-11 17:49] #61 closed

[2020-09-12 15:00] ChrisDill commented on #35
@StevenGann Any updates on this issue?

In the end I decided to drop the idea of wrapping IntPtr variables internally because there are different ways to access/modify them. That said, since IntPtr is a common issue for new users I think adding some documentation about it is a good idea.(See #56).

[2020-09-12 15:22] #43 closed

[2020-09-14 13:45] 630Studios commented on #55
The instructions provided only work for a .net core project.
Using the provided instructions on a .netstandard 2.0 or framework 4.7.2+ does not work.

[2020-09-15 19:34] StevenGann commented on #35
@ChrisDill Sorry, I don't check GitHub notification often and am more accessible via discord.

No progress on this. I'm currently unable to even get the majority of the examples running, let alone innovate on new things. I've been sticking with 2D until someone figures out how to get 3D working.

[2020-09-25 17:21] #29 closed

[2020-10-01 20:12] Shadowblitz16 commented on #34
@ChrisDill is there a way to get a design time custom control for this?
[code]
I am getting raylib dll not found exception when adding the control to the form

[2020-10-01 21:03] ChrisDill commented on #34
I don't see how that code causes a dll not found exception. I would check that it can find raylib on its own without win forms first to make sure it loads correctly.

[2020-10-02 02:02] Shadowblitz16 commented on #34
huh odd I am using 3.1.5 and even normal raylib projects don't work.
I tried both x86 and x64

did something change with the project?

[2020-10-02 09:06] ChrisDill commented on #34
It should work once it is able to load the library but support for framework is experimental so it requires a manual install. I suggest using winforms in dotnet core instead. See https://docs.microsoft.com/en-us/dotnet/core/porting/winforms for details.

[2020-10-02 21:38] Shadowblitz16 commented on #34
@ChrisDill winforms designer crashes and freezes up in .net core for me.
it also is very slow and does weird things like not allowing me to select controls forcing me to reopen the form every 2 control I add.

[2020-10-02 23:02] Shadowblitz16 opened #63 "Add Raygui to nuget package"
I tried copying the raygui.cs to my project so I could use it however It throws dll not found exception for raylib
[code]

[2020-10-03 08:12] 9ParsonsB commented on #63
Unfortunately, RayGUI is not supported within Raylib-cs. Any RayGUI code is for experimentation purposes only - Please refer to the README.md.

[2020-10-03 08:12] #63 closed

[2020-10-03 09:55] ChrisDill commented on #34
In that case there is not much I can do. If you need winforms then framework + a manual install of raylib is needed. Though I suggest against it as it is experimental. Maybe report your issues with winforms in netcore and see if anyone else can help you fix it?

[2020-10-03 09:55] #34 closed

[2020-11-03 00:38] Shadowblitz16 commented on #63
@9ParsonsB why? if raylib supports it shouldn't raylib cs?

[2020-11-28 17:35] PYLOTT opened #64 "Importing Diffuse texture and applying to a Mesh"
Hi,

I'm trying to apply a texture to a mat but I could not figure out how to do it:

here is a succession of what I've tried:

a direct translation of the c code taken from examples:
[code]

the last test
[code]

The problem comes from the Intptr, how could I get the material array from it?

thanks for your time.

[2020-11-29 17:07] #64 closed

[2020-11-29 17:08] PYLOTT commented on #64
just found yesterday night:

                    Material* materials = (Material*)model.materials.ToPointer();
                    MaterialMap* maps = (MaterialMap*)materials[0].maps.ToPointer();

                    Texture2D d_LP_SpookyTree = Raylib.LoadTexture("Ressource/Models/LP_SpookyTree.Diffuse.png");
                    maps[(int)MaterialMapType.MAP_ALBEDO].texture = d_LP_SpookyTree;

[2020-12-16 19:38] Soup-64 opened #65 "Raylib 3.1.6 crashes upon loading obj file"
when loading in an obj file, the program crashes without warning and without any sort of error messages as shown below:
![image](https://user-images.githubusercontent.com/43444191/102397647-243f8700-3fac-11eb-838c-5a4ad8f90a03.png)
The program stops right after raylib outputs that it loaded obj data successfully. The model in question also loads fine within other applications, like blender, and th

[2020-12-17 02:12] #65 closed

[2020-12-17 02:38] 9ParsonsB commented on #65
@Soup-64 Did you figure out this issue?

[2020-12-28 12:35] Ambez05 opened #68 "The Fade function does not exist in Raylib.cs"
I expect this code is missing in the Raylib.cs file

        [DllImport(nativeLibName, CallingConvention = CallingConvention.Cdecl)]
        public static extern Color Fade(Color color, float alpha);

[2020-12-28 17:23] ChrisDill commented on #68
I recently updated the bindings to 3.5.0 and there have been a lot of changes.
In this case, the Fade function has been renamed to ColorAlpha.
[code]

[2020-12-28 17:30] raysan5 commented on #68
@ChrisDill I think I kept the `Fade()` function... mmmh... did I remove it?

[2020-12-28 18:09] ChrisDill commented on #68
In the source code the define is commented out.
[code]
However both Fade and ColorAlpha functions can be found in textures.c and they both do the same thing.

@Ambez05 If it helps I can add a compatibility function that calls ColorAlpha.
[code]

[2020-12-28 19:02] #68 closed

[2021-01-10 15:17] #37 closed

[2021-01-14 21:53] krank opened #69 "Codepoints above 127 not rendering on Windows"
DrawText as implemented in Raylib-cs only supports codepoints up to 127 in Windows – all characters above that gets rendered as "?". This is kind of annoying, as I'm a swedish programming teacher, and we have a few special extended ascii-characters; å, ä and ö are part of a lit of swedish words.

Things I've tried:
- DrawText and DrawTextEx. Same result.
- Loading different fonts, with or without

[2021-01-14 22:20] 9ParsonsB commented on #69
Hi, thanks for using raylib-cs & bringing this to our attention! Very sorry for this oversight on our part, both me and @ChrisDill use Linux and are English-only speakers. We'll get on a fix asap.

[2021-01-15 13:53] ChrisDill commented on #69
@9ParsonsB @krank I have found 2 possible fixes for the issue with UTF8 strings. Both work on windows for me.

1. Using `[MarshalAs(UnmanagedType.LPUTF8Str)]` to marshal strings as UTF8.
[code]

2. Wrapping the functions and using custom utils to marshal them to UTF8 the same way used in SDL2-cs.
[code]

[2021-01-15 15:11] krank commented on #69
Thanks, @ChrisDill, can confirm both workarounds work here as well! I'll pass the first one on to my students immediately.

Very grateful for fast & helpful response; I'll be using this as an example in the classroom on how git/github, open source and issue tracking is supposed to work =)

[2021-02-05 20:04] Crydsch commented on #35
Hey hey,
i am also interested in this feature and did some experimenting...
@ChrisDill I saw your Issue for 'GenMeshCustom(..)' on the raylib repo and then added the bindings to Raylib-cs.
I have never worked with spans before but this did the trick:

[code]

Maybe it would make sense to add the "wrapping" to Raylib-cs, such that all unsafe code is hidden in the library?
Or just add some lines to

[2021-02-05 21:33] ChrisDill commented on #35
@Crydsch The data for the mesh is public so you can make custom wrappers if needed. I might add some functions for creating Span types but I need to experiment with them more first. Either way adding some documentation about them is a good idea.

[2021-02-07 06:45] kororro opened #71 "Some report from tests"
Hi, thanks for these cs bindings.

Just downloaded these from git, and tested all tests:
* texture explosion crashes (but if starting from that test, it works)
* pbr test, that helmet looks gray, material doesnt work?
* models_mesh_generation crashes when tested tests before that, but when starting from that, it works
* audio tests only first one works, others does not have audio (but works if onl

[2021-02-07 10:09] ChrisDill commented on #71
Thanks for letting me know.

I am aware there are issues when running examples one after another.
This [issue](https://github.com/raysan5/raylib/issues/1548) helps fix most audio examples so that should work in the next release.

I am unsure on the cause of the graphics issues. I will take a look at those next.

[2021-02-07 12:11] kororro commented on #71
PBR example issue is in raylib git too
https://github.com/raysan5/raylib/issues/1571

[2021-02-16 07:57] davidscherf opened #73 "How to get working on Raspberry PI"
I have compiled Raylib and its examples, and have that working

I made a simple app in Dot Net Core 3.1, but when I run I get a dll not found exception

I cannot find a libraylib.so in the compiled Raylib

[2021-02-27 17:13] ChrisDill commented on #73
@davidscherf Currently the Raylib-cs package does not include native libraries needed for the Raspberry PI.
You will need to build them manually and add them where they can be found in the search path of your app.

See https://github.com/raysan5/raylib/wiki/Working-on-Raspberry-Pi for details on building raylib.

[2021-02-27 18:00] zalnaRs opened #74 "Failed to load image!"
So, i want to draw a simple
![image](https://user-images.githubusercontent.com/53659756/109395661-d4772780-792d-11eb-9229-24f686c4c422.png)

And its saying this:
![image](https://user-images.githubusercontent.com/53659756/109395670-ee186f00-792d-11eb-8f8d-fffb6f43529d.png)

There is my code:
``
 using Raylib_cs;

 namespace test
 {
    class Program
    {
        static void Main(string[] args)

[2021-02-27 18:44] ChrisDill commented on #74
@zalnaRs The .bmp format is not currently enabled in the raylib release. To use it you need to build raylib with `SUPPORT_FILEFORMAT_BMP` enabled.

[2021-02-27 18:45] zalnaRs commented on #74
I tried with png too!

[2021-02-27 18:50] ChrisDill commented on #74
Then it most likely is failing to find the file. By default it loads from the output directory so try putting the assets folder in there and see if it finds it.

[2021-02-28 06:12] zalnaRs commented on #74
Oh thanks I try it!

[2021-02-28 06:21] zalnaRs commented on #74
Its works! :)

[2021-02-28 06:21] #74 closed

[2021-03-15 15:19] sergiopolarbear opened #76 "System.AccessViolationException on Raylib.EndDrawing() ?"
I'm not sure if this is a bug within Raylib, Raylib-cs or if its in my code, [I asked on the raylib subreddit](https://www.reddit.com/r/raylib/comments/m54gns/manually_updating_screen/), but I haven't come to a solution.

My program doesn't use `while(!Raylib.WindowShouldClose())` for its main loop, because I need to update the screen on a function call rather than every frame. At the start of my

[2021-03-15 16:58] ChrisDill commented on #76
I don't see a issue with bindings here. I would need to know more about your program to find the issue. I made a test where I create a window and called Clear and Draw and it worked as expected.

[2021-03-15 17:04] #73 closed

[2021-03-15 18:44] sergiopolarbear commented on #76
This is the class responsible for drawing to the screen:

[code]

There's no more Raylib related code outside of this class, but these methods are called multiple times a second.

I just tested it again and it gave me the same error but in `Raylib.ClearBackground(bgColor);` instead...

In any case I don't think this is an issue with Raylib-cs so I don't mind closing the issue, but I'd appreciate a

[2021-03-16 08:41] ChrisDill commented on #76
Make sure InitWIndow is called before other drawing functions. I also suggest separating BeginDrawing and EndDrawing from the methods.

[2021-03-16 19:23] sergiopolarbear commented on #76
Turns out I was accidentally calling the methods from a secondary thread and it was supposed to be from the main thread. Thanks for your help!

[2021-03-16 19:23] #76 closed

[2021-03-20 14:16] mandar1jn opened #77 "EntryPointNotFoundException: Unable to find an entry point named 'StorageLoadValue' in DLL 'raylib'."

[2021-03-20 14:16] mandar1jn commented on #77
Title says it all. I get this error when trying to use the StorageLoadValue function

[2021-03-20 17:17] ChrisDill commented on #77
@mandar1jn Thanks for letting me know! It should be `LoadStorageValue` and `SaveStorageValue` instead.

[2021-03-20 20:26] mandar1jn commented on #77
Ok. Thanks.

[2021-03-25 20:55] ChrisDill commented on #77
@mandar1jn These functions have now been reviewed in the bindings fixing naming, types etc.
Here are the updated versions for reference:

[code]

[2021-03-25 20:55] #77 closed

[2021-03-29 07:25] UC101 opened #79 "SetTracelogCallback impossible to format text"
This makes it impossible to format text passed by a TracelogCallback event.
TracelogCallback takes a LogType, String and IntPtr. This is incompatible with C#'s built-in string formatting system. This means all the data that should be formatted into a string is treated as an unsafe blob.

Currently Raylib-cs implements TextFormat as a function which takes in a string and returns the same string, pe

[2021-03-29 08:35] ChrisDill commented on #79
I am aware of the issue. Another user found a separate workaround to format the text but it was platform dependent. I have tried to fix TextFormat but I have not yet got it to work.

[2021-05-09 00:18] Shadowblitz16 opened #80 "Doesn't seem to be a way to get string width and height based on font used"
There doesn't seem to be a way to get a string's width and height in pixels based on the font used.
[code]

[2021-05-09 00:43] Shadowblitz16 commented on #80
looks like there is Raylib.MeasureTextEx but why does Raylib.MeasureText take a int for a font?

[2021-05-09 08:15] ChrisDill commented on #80
Both functions match raylib. MeasureText is there for the default font.
Not sure why fontSize is a int as it gets casted to a float when it calls MeasureTextEx internally.

[2021-05-09 08:15] #80 closed

[2021-05-10 01:45] Shadowblitz16 commented on #80
oh I see odd

[2021-05-11 19:43] Shadowblitz16 opened #81 "Fix IntPtr returns and parameters so they return managed memory"
The current method returns a IntPtr..
[code]

Can you move these type of methods to return and take in managed memory?
If having IntPtr is necessary you could add it as a field or get property to the managed structs.

Its just hard to know what your doing if you don't know marshaling.

[2021-05-12 08:52] ChrisDill commented on #81
There are different ways of handling the native memory used by raylib. I don't want the library to only allow certain ways of using it. For example marshaling adds a cost to copying memory across. I would rather the user decide what approach is best.

I am considering extensions for creating span types as it is a common issue people run into.

[2021-05-15 06:08] Khhs167 opened #83 "The type or namespace name 'GuiControlStandard' could not be found [raygui-cs]"
I tried building raygui-cs, but i just get an error, i dunno why. Could someone help me?
Btw, full build log
[code]
I have not modified anything!

[2021-05-15 06:48] ChrisDill commented on #83
Fixed! Must have missed it. Note that Physac-cs and Raygui-cs are experimental and may move or change in the future.

[2021-05-15 06:48] #83 closed

[2021-05-17 16:25] Grave18 commented on #61
my headache is gone too)

[2021-05-17 23:48] benbeshara opened #84 "NuGet package doesn't seem to be published yet"
Running the command `dotnet add package Raylib-cs --version 3.7.0` from the readme produces the following error:
[code]
Checking the NuGet API only shows up to 3.5:
[code]
I'm using dotnet 5.0.202

[2021-05-18 02:44] 9ParsonsB commented on #84
@ChrisDill Should be doing this as part of actions, no?

Only thing missing is the native lib in `runtimes/` folder (maybe write a shell script to get it?), then actions should be able to create the nupkg and upload

[2021-05-23 15:30] ChrisDill commented on #84
@benbeshara I have now upload the package for 3.7.0.

@9ParsonsB I agree we should make the process more automated though I am unsure on how to do it. I want to be careful I don't mess up the versioning. Not sure if I should stick to matching the version of raylib...

[2021-05-25 20:23] 15leesan commented on #69
I'm trying to display the pi character (π, U+03C0), but no matter what I do, all I get are underline characters.
Is there any way to draw it to the screen? It seems to be at least somewhat related to this issue.

I'm using the NuGet package for Raylib-cs 3.7.0.

[2021-06-07 16:02] SWCreeperKing commented on #69
I believe its the same issue, I tried drawing text with a 127 unicode and it drew an underscore. I am also using Raylib-cs 3.7.0.

[2021-07-03 01:51] Shadowblitz16 commented on #81
you should make a overload for the function

[2021-07-03 19:13] Shadowblitz16 opened #85 "Improve shader uniforms so they objects instead of ints or floats"
consider using C#'s version of void* for uniform passing
[code]

[2021-07-10 21:28] 630Studios opened #86 "GetMeshBoundingBox missing from bindings"
As the title says, the function GetMeshBoundingBox is missing from the C# bindings.

[2021-07-10 21:35] 630Studios commented on #86
Looks like these are changes made post 3.7, so not an issue I suppose.

[2021-07-10 21:35] #86 closed

[2021-07-20 06:27] ChrisDill commented on #81
Like I said, I would rather the user decide what approach is best. There is no one way that the library should handle it.

[2021-07-20 06:27] #81 closed

[2021-07-20 12:18] ejamshidiasl opened #87 "Android / Xamarin Platform Support"
is there any way to use with xamarin? (run on android)

[2021-07-29 19:39] ChrisDill commented on #85
This does not work as it is a invalid managed/unmanaged combination. I am looking to make shaders more accessible so I am considering adding more overloads/utils for valid types.

[2021-07-29 19:39] #85 closed

[2021-08-22 02:41] Hshore opened #88 "Windows10 Gestures not working as expected. GESTURE_TAP is not detected until second tap."
GESTURE_TAP does not get detected on first tap of screen, the first touch only moves the mouse position and does not trigger a tap gesture.

I am not sure if this is a Raylib-cs bindings issue or a Raylib issue or even a windows issue.
I am running a .NET core 3.1 console app project but I just cant get the touchscreen gesture tap to work properly.

Despite this I am having a blast using Raylib wi

[2021-08-28 17:44] GoldenQubicle opened #89 "Enum KeyBoardKey has duplicate value"
Pretty self explanatory. Enum member KEY_R and KEY_MENU have to same value.

![image](https://user-images.githubusercontent.com/21037627/131226205-4d57b7ea-c7d9-4a1b-8bde-c59a1dd935b3.png)

Bit annoying when - completely hypothetical - one wants to use R for reset and have to check for the menu key.  Not a big deal though, loving these bindings. Keep up the great work.

[2021-08-30 18:19] RonenNess commented on #65
I'm having the exact same issue, but I tried changing obj to glb and it didn't help.
Loading models under certain conditions seems to cause random crashes.

Anyone got a solution for this?

[2021-08-31 04:24] RonenNess opened #90 "Queation: how do I get mesh struct from the model IntPtr?"
Hello,
Thank you for this wonderful bind!

I have a loaded model that I want to extract meshes from to use with the DrawMesh() APIs. However, I could not find any way to convert the meshes IntPtr that the model holds into the c# Mesh struct required for the DrawMesh() calls.

Did I miss something?
Thanks

[2021-08-31 06:41] RonenNess commented on #90
Nevermind I just realized you could marshel the IntPtr directly to the struct and it works. I assume you're planning to keep the structs compatible with the C++ side so it won't break in the future.

[2021-08-31 06:41] #90 closed

[2021-08-31 19:25] RonenNess opened #91 "[core] Mesh instances draw not working?"
Instancing meshes don't seem to be working with Raylib cs.
I made a minimal test project to test it, based on the C++ instancing example.

This is main:

[code]

And here are the shaders:

// FRAGMENT
[code]

// VERTEX
[code]

Now if I run the code above, I'm not seeing anything on screen. To validate matrices and all are ok, I added the useInstances flag, when I set it to false it uses a regular

[2021-08-31 20:32] ChrisDill commented on #89
KEY_MENU is part of the android key buttons that were added into KeyboardKey enum. For the menu key on the keyboard you can use KEY_KB_MENU.

[2021-08-31 20:32] #89 closed

[2021-09-18 10:14] CastimierDev commented on #56
I would like to help, where should I start?

[2021-09-23 06:47] ChrisDill commented on #56
@CastimierDev I could use help with the wiki. Not quite sure how best to structure it. The goal is to point people to it to
answer common questions on the [discord](https://discord.gg/raylib).

Let me know what suggestions or ideas you have on this. Thanks!

[2021-09-24 19:02] drosenfeld-logi opened #92 "[core] GetMonitorPosition missing argument"
### Issue description

The C# declaration for GetMonitorPosition is

    public static extern Vector2 GetMonitorPosition();

but the underlying native/C declaration is

    Vector2 GetMonitorPosition(int monitor);

Not sure what P/Invoke does when an argument is missing; maybe grabs garbage from the stack?  In any event, presumably the missing parameter is simply a transcription error.

Thanks.

[2021-09-24 20:57] ChrisDill commented on #92
Thanks, fixed!

[2021-09-24 20:57] #92 closed

[2021-09-24 21:13] drosenfeld-logi commented on #92
Terrific--thanks!

[2021-09-26 20:51] JarrodDoyle opened #93 "[core] Incorrect GamepadAxis enum values"
### Issue description

The GamepadAxis enum in Raylib-cs still contains `GAMEPAD_AXIS_UNKNOWN = 0` which was removed from Raylib as of https://github.com/raysan5/raylib/commit/0bd64b7975722382773a5928e80dfe64da30b335. This leads to off-by-one problems when using the enum values.

[2021-09-27 06:05] #93 closed

[2021-10-01 10:43] CastimierDev commented on #56
Perhaps we could add a short documentation about every subject and show a snippit where in it get's used.
For example working with files and audio

[2021-10-01 13:46] 9ParsonsB commented on #56
Converting some of the commenting into `/// <summary>`  tags would help with IDE quick info

[2021-10-01 19:50] ChrisDill commented on #88
Doesn't look like a Raylib-cs issue since raylib manages storing the gestures. GESTURE_TAP works for me with the mouse on desktop so it is likely a platform related issue.

[2021-10-02 11:21] #84 closed

[2021-10-11 23:57] ayousuf23 commented on #55
I got this error:
[code]
I am using Apple Silicon (osx-arm64).

[2021-10-12 01:16] 9ParsonsB commented on #55
@ayousuf23 `arm` platforms are not yet supported. Please ensure you are running in Rosetta 2 or open a separate issue regarding ARM platforms.

[2021-10-18 10:05] IceReaper opened #197 "SkyboxDemo not working"
No skybox is rendered at all. Just a while clear with the visible ground grid.

[2021-10-20 18:04] jasonswearingen opened #97 "[DllImport] Improve pinvoke for `GetDroppedFiles()` and similar."
Before submitting a new issue, please verify and check:

 - [x ] The issue is specific to Raylib-cs and not raylib
 - [ x] I checked there is no similar issue already reported
 - [ x] My code has no errors or misuse of Raylib-cs

### Issue description

In `raylib.h` the definition is:
[code]

Currently in `raylib-cs` the following is used:
[code]

I suggest using a call more precicely matching ray

[2021-10-20 18:06] jasonswearingen commented on #97
as this is a breaking api change, it seems that now would be a good time to make it (prior to `raylib 4.0` release)

[2021-10-21 05:33] DaZombieKiller commented on #97
Yeah, it might be better if it just returned a `string[]` directly. It would make it more obvious that it's an allocating API, and you can always assign the result to a `ReadOnlySpan<string>` yourself. Ideally, Raylib would have an additional `GetDroppedFilesCount` API, so you could preallocate a buffer yourself and have the API write into it (which would be translated into something like a `Span<

[2021-11-09 16:34] Shadowblitz16 opened #98 "Can't find function."
![image](https://user-images.githubusercontent.com/2453707/140965265-c5edfb52-5752-41f0-bb19-ce6aa2aeafa2.png)
The matrix is not null.

[2021-11-15 03:44] Shadowblitz16 opened #99 "[rlgl] There is no way to pass a matrix directly to rlgl.rlMultMatrixf"
Before submitting a new issue, please verify and check:

 - [x ] The issue is specific to Raylib-cs and not raylib
 - [ x] I checked there is no similar issue already reported
 - [ x] My code has no errors or misuse of Raylib-cs

### Issue description

rlgl.rlMultMatrixf requires generating a array each time the matrix is altered.
Please allow passing in the matrix directly.

### Environment

Kubu

[2021-12-04 13:43] 9ParsonsB commented on #97
@jasonswearingen I am picking this up for the 4.0 release. We have already taken a look at string handling and the method you mention (see 4.0 PR #100).

Do you have any other recommendations or pain points in the API where we can look to improve?

[2021-12-04 14:55] jasonswearingen commented on #97
I think that requiring the user to write glue code is the best "smell test".   so in your or the examples use of raylib, if there are areas that need similar workflows.    Though I don't think there are many like that.  I think the biggest pain was needing to cast everything to `IntPtr` which seems to be resolved in the 4.0 changes!

[2021-12-04 14:55] #97 closed

[2021-12-08 03:32] Saharsh1234 commented on #55
it doesnt work tho

[2021-12-26 20:38] RrayAgent opened #101 "Can't figure out how to set up a project"
I have no idea how to get it set up in a project, I've over the read me and watched videos on how to set it up and it just doesn't work for me. However I am using VS 2022, so I don't know if the problem is there (or I could just be stupid and missing something).

[2022-01-19 12:14] Samstroyer opened #102 "The function GetImageColor() doesn't exist"
Before submitting a new issue, please verify and check:

 - [x] The issue is specific to Raylib-cs and not raylib
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of Raylib-cs

### Issue description

The function Raylib.GetImageColor(); That is supposed to take in an image for argument and return a color[] doesn't exist. !!It is mentioned in the Ra

[2022-01-19 12:41] 9ParsonsB commented on #102
`GetImageColor` was added in raylib 4.0.0. Raylib-cs currently only supports up to 3.7.0.

There is a 4.0 branch, PR (#100), & pre-release NuGet packages, if you'd like to try it out early. We are using this major version bump to make some big internal changes.

[2022-01-19 12:41] #102 closed

[2022-01-20 01:52] acheddadi opened #103 "Unable to find an entry point named 'DrawTextRec' in shared library 'raylib'."
As the title says, I am not able to call the function DrawTextRec(). Everything else seems to work fine.

[2022-01-20 10:01] 9ParsonsB commented on #103
What version of `Raylib-cs` are you using?

[2022-01-20 15:02] acheddadi commented on #103
Hello, I am using 3.7.0.1.

[2022-01-20 22:18] 9ParsonsB commented on #103
How did you install `Raylib-cs` and what version of  `raylib`  are you using?

[2022-01-20 22:21] acheddadi commented on #103
I installed it via nugget, by using the command `dotnet add package Raylib-cs --version 3.7.0.1`

Although I suspect that the project may be referring to my local shared library which I also have on my machine. I'm not quite sure how to force dotnet to use the supplied Niger package rather than a shared library.

[2022-01-20 22:36] ChrisDill commented on #103
@acheddadi `DrawTextRec` is available in raylib 3.7 but removed in 4.0. What version is the shared library on your machine?

[2022-01-20 22:41] acheddadi commented on #103
Ah, that would explain it. The shared library I have on my machine is 4.0. Is there a way for me to specify that dotnet should only use the supplied DLL and not the shared library?

[2022-01-21 16:35] 9ParsonsB commented on #103
You can try setting `LD_LIBRARY_PATH` or `LD_PRELOAD` environment variables, but this is a known issue with dotnet on Linux: https://github.com/dotnet/runtime/issues/34711

[2022-02-14 12:53] #56 closed

[2022-02-14 12:53] #69 closed

[2022-02-14 12:53] #98 closed

[2022-02-14 12:53] #99 closed

[2022-02-14 19:07] #103 closed

[2022-02-14 19:17] ChrisDill commented on #79
Custom logging has been improved in Raylib-cs 4.0.0 and uses specific native functions to handle the C-style formatting.

[2022-02-14 19:17] #79 closed

[2022-02-15 11:07] 9ParsonsB opened #104 "[utf8] Codepoint 2193 and 2191 do not render with cascadia-code font"
Before submitting a new issue, please verify and check:

 - [x] The issue is specific to Raylib-cs and not raylib
 - [x] I checked there is no similar issue already reported
 - [x] My code has ~no~ errors or misuse of Raylib-cs

### Issue description

[20:16] SW_CreeperKing: i mean i think theres one more bug :D
2 characters will render as _ : ↓ and ↑
im using cascadia mono, which should support t

[2022-02-15 18:48] SWCreeperKing commented on #104
I use these characters for my drop down box, terrible code:
https://github.com/SWCreeperKing/RayWrapper/blob/master/RayWrapper/Objs/DropDown.cs

i am using DrawTextEx to draw the text, and for loading the font i have
[code]

[2022-02-15 19:55] ChrisDill commented on #104
`LoadCodepoints` returns 8595 for ↓ and 8503 for ↑. So these would not be included by default loading up to 5000.
Changing to a number higher than this and I can get them to draw with Cascadia-Regular.otf.

[2022-02-16 00:23] SWCreeperKing commented on #104
Yep, setting it to a number greater than or equal to 8595 allows me to grab them! I thought it went based off of unicode.

[2022-02-16 04:00] 9ParsonsB commented on #104
The issue is that if we set `toChar` to a higher number, it may take a lot longer to load the font

[2022-02-17 13:56] CastimierDev commented on #101
@RrayAgent I just make a console app and use nuget to add raylib, try that and if you have any problems you can send me a message

[2022-02-28 20:46] ChrisDill commented on #104
You can also use `LoadFontEx` and pass in just the codepoints you want. I made a few fixes when testing this that will be in the next release.

[2022-02-28 20:47] #88 closed

[2022-02-28 21:04] ChrisDill commented on #91
This should be fixed in the latest release. Here is the updated example that works as expected with/without instancing.

[code]

[2022-03-09 19:17] #91 closed

[2022-03-13 19:40] riffshark opened #105 "how to change opengl profile / graphics api in C# version? [question]"
I could compile the c/c++/notepad++ version with
[code]
in notepads compile script *::raylib_source_compile* [link](https://github.com/raysan5/raylib/blob/master/projects/Notepad%2B%2B/npes_saved_mingw.txt)
but could not find a way how to change opengl profile / graphics api in C# version (my machine does not support preconfigured version)

Is it possible to do just with nuget package without clon

[2022-03-13 23:04] 9ParsonsB commented on #105
Hi @riffshark,

To do this, you need to compile `raylib` yourself as the version provided via NuGet is from `raylib`s GitHub Releases. Once you have compiled your own version, all you need to do is drop the library into the build folder of the application - there should be no need to clone this repo.

We currently have no plans to provide a custom version of `raylib` with `raylib-cs`

Let us know

[2022-03-14 23:05] riffshark commented on #105
ok, I have next issue: I'm getting "System.BadImageFormatException" in Raylib-cs.dll on ```InitWindow()```
- I recompiled ```raylib.dll``` and ```/include/raylib.h``` with OpenGL2.1 (also tested in C that it works)
- I had to replace ```raylib.dll``` in ```C:\Users\USERNAME\.nuget\packages\raylib-cs\4.0.0.1\runtimes\win-x64\native``` beacause on each run the dll was copied and replaced
- on run th

[2022-03-15 12:53] 9ParsonsB commented on #105
The default build output folder is `bin/[Configuration]/[Framework]` Configuration is usually `Debug`, Framework is sometimes omitted.  The `win-x64/native` folder is used for runtime/OS specific libraries in their "native" format; our NuGet package copies the libraries there on build.

`BadImageFormatException` Can mean a lot of things, most likely that the file you are trying to inter-op with is

[2022-03-15 16:46] SoloByte opened #106 "[Visual Studio] Working Directory of Raylib points to "bin/Debug/net6.0" instead of the project root."
### Issue description

If I use LoadTexture() with a relative path like "gfx/tilemap.png" nothing is loaded and DrawTexture() does not display anything. When I use the absolute path to the texture everything works correctly. GetWorkingDirectory() points to "bin/Debug/net6.0" instead of the root folder of the project. When I download the examples and open them in Visual Studio 2022 everything works

[2022-03-16 07:55] SoloByte commented on #106
Okay I have figured out a solution.

In Visual Studio double click your project_name.csproj file.
This will open something like this:

[code]

When you add `<RunWorkingDirectory>$(MSBuildThisFileDirectory)</RunWorkingDirectory>` to the `<PropertyGroup>` then your working directory will be set correctly.
(Just copy the 1 line not the whole code block above because some things might be different in

[2022-03-16 07:55] #106 closed

[2022-04-03 19:31] #101 closed

[2022-04-03 22:51] RrayAgent commented on #101
Yeah I actually figured that out a while ago, and then forgot to just kind of close this. I'm very sorry for taking up your time.

[2022-04-14 17:42] EralpCelebi commented on #87
Definitely not qualified for this but [this ](https://docs.microsoft.com/tr-tr/dotnet/api/xamarin.forms.openglview?view=xamarin-forms) might be useful.

I personally don't think Xamarin is the right way to go with this, you might have better luck porting your code over to C++ if the challenge is not too great :)

[2022-04-28 08:21] MilkMouseBearCoder opened #107 "Not an issue but a question."
## I want to know how to load basic 3d models like cubes and spheres using raylib 3d and also have a camera controller with it.

## Raylib-cs version
4.0.0.1

[2022-04-28 11:11] ChrisDill commented on #107
You can use the [examples](https://github.com/ChrisDill/Raylib-cs-Examples) for reference.
For cubes, spheres and cameras, take a look through the models examples.

[2022-04-28 11:11] #107 closed

[2022-05-18 15:52] JupiterRider opened #108 "No usable method for LoadImageFromMemory"
Hey guys,

there is no C# binding for `LoadImageFromMemory`.

Something like this should fit:
[code]

Btw: Do we really need the partial class Raylib.Utils.cs? The code above works as well.

Thanks!

[2022-05-18 16:11] JupiterRider commented on #108
Oh, I see, there are much more. Seems like all Load***FromMemory bindings are missed.

[2022-05-18 18:07] ChrisDill commented on #108
There is a unsafe version of `LoadImageFromMemory` you can use.
I will consider adding utils for other LoadXFromMemory functions.

[2022-05-19 05:53] JupiterRider commented on #108
@ChrisDill
Is there any downside of just putting the save code into Raylib.cs? Is unsafe interop faster?

[2022-05-24 18:01] #105 closed

[2022-05-24 18:14] ChrisDill commented on #108
We decided to split the safe utils from the unsafe bindings to make it more flexible and easier to debug. Performance depends on your use case.

[2022-06-06 19:21] Nyxie98 opened #111 "Unable to load DLL 'raylib'"
Trying to install this in Windows under the Manual Installation. Not sure if I'm missing something, or I've done something wrong, but I just keep getting this error when I try to run the demo

![image](https://user-images.githubusercontent.com/70954504/172232029-eb95e3ee-7edf-43f1-98d8-3e8496e03216.png)

[2022-06-07 17:45] JupiterRider commented on #111
If you use the github repo, you have to put the raylib.dll into your root folder (where the csproj is). You can download it here:
[https://github.com/raysan5/raylib/releases/tag/4.0.0](https://github.com/raysan5/raylib/releases/tag/4.0.0)
It's the raylib-4.0.0_win64_msvc16.zip .

The repo doesn't contain the compiled shared library.

If you want to use Raylib-cs for your own game, I recommend you

[2022-06-27 02:04] naoei opened #112 "Mispelt extern function name in rlgl"
https://github.com/ChrisDill/Raylib-cs/blob/737062763d7c992924f8b1dafdb59daf4cc02135/Raylib-cs/interop/Rlgl.cs#L660-L662

This should be `rlGetMatrixTransform`:
https://github.com/raysan5/raylib/blob/e9fcc8a3915c082e92440885ff82713dd0196ad3/src/rlgl.h#L688

[2022-06-27 06:34] #111 closed

[2022-07-21 06:58] SoloByte opened #113 "Would it be possible to create c# bindings for rres resource packer system?"
### Issue description
Dealing with exported resources in raylib with c# is complicated right now.

The default way is to copy the resource folder to the output directory but when distributing your game/app all resources are visible to the customer. (among many other problems with that way)

The problem is that loading resources from anywhere else than the disk is very complicated or not possible.

[2022-07-24 18:45] eliasstepanik opened #114 "Raylib.LoadShader(sbyte* vsFileName, sbyte* fsFileName);"
### Issue description

*Hello,
i wanted to use the Raylib.LoadShader(sbyte* vsFileName, sbyte* fsFileName) fuction but I don´t know how to pass the sbyste*

[2022-07-24 20:30] Shadowblitz16 opened #115 "[Core] Support multiple windows"
Before submitting a new issue, please verify and check:

 - [ ] The issue is specific to Raylib-cs and not raylib
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of Raylib-cs

### Issue description

I can't make multiple windows in raylib-cs without recompiling raylib and then recompiling raylib-cs to use it

Please support creating multiple windo

[2022-07-25 05:57] 9ParsonsB commented on #115
We currently package the **official** release builds of raylib in the NuGet package.  (as provided by the GitHub Releases)

If there were a PR to import Raysan's GitHub Actions Scripts (or similar solution) but with a different build configuration, I would be happy to update the NuGet package to use this custom build.  As it stands, we do not have a clear solution for making custom raylib builds a

[2022-07-25 06:06] ChrisDill commented on #113
@SoloByte We are interested in making resource loading easier and the rres project looks good for this. Though we have no plans to work on it at the moment.

[2022-07-25 06:06] #113 closed

[2022-07-25 06:16] ChrisDill commented on #114
You can use the `Raylib.LoadShader` wrapper function to pass in strings instead which handles that for you. What data are you trying to pass into it?

[2022-07-25 06:47] eliasstepanik commented on #114
I´m trying to pass the path to raymarching.fs

[2022-07-25 08:15] eliasstepanik commented on #114
Ok I found it. Thanks

[2022-07-25 08:15] #114 closed

[2022-07-25 18:50] SoloByte commented on #113
@ChrisDill Thanks for the quick response!
I understand, no problem. I figured out a simple solution for packing resources and loading them at runtime. Once done I will post it here for future reference.

[2022-07-26 07:15] SoloByte commented on #113
This is my simple solution for packing resources into 1 file to make the distribution of the build easier.

I always set this in my project file:
`<RunWorkingDirectory>$(MSBuildThisFileDirectory)</RunWorkingDirectory>`
to make the paths relative to the project.

You need a single folder containing all the resources you want to pack. I mostly just have a resources folder with a structure like that

[2022-07-30 22:38] PythonCodeingKing commented on #61
Yes! Same problem for me too, although it gave me a segfault. It was great figuring this out. Thanks!

[2022-07-31 16:34] BlueStaggo opened #116 "[Core] Awaiting a function stops rendering"
Before submitting a new issue, please verify and check:

 - [x] The issue is specific to Raylib-cs and not raylib
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of Raylib-cs

### Issue description

I wanted to add asynchronous functionality into my game. However, even when I await an empty task, Raylib freezes up. I know it is just Raylib because

[2022-07-31 17:50] BlueStaggo commented on #116
Turns out that I do not know much about `await` and without `await` it works just fine.

[2022-08-01 07:01] ChrisDill commented on #116
@BlueStaggo I get the same issue using the code example. Using await here makes the top level statement async which causes issues since drawing must happen on the same thread that called `InitWindow`.

If the task needs to finish before the loop you can wait for it manually. If not then move it into a separate function that is not async and call that from your example.

[2022-08-06 11:01] #116 closed

[2022-08-09 08:15] anggape commented on #87
i already made raylib-cs run on android on [this](https://github.com/anggape/Raylib-cs) repo
but i think we need a custom build of [this line](https://github.com/raysan5/raylib/blob/e87caa268784e8947f76bf3f6b45699553337709/src/rcore.c#L698) on raylib source

[2022-08-09 10:14] 9ParsonsB opened #118 "[Build/DevOps] Build & Distribute customised raylib builds with Raylib-cs"
### Issue description

Some features of raylib are not enabled in the default/official build for. e.g.
 - #115
 - #87

Some of these features would be nice to have.

Currently, users have to build raylib themselves if they want these extra features, which causes confusion when many of our users are not familiar with C and/or build systems

### Environment

Upstream currently use GitHub Actions, we

[2022-08-17 21:37] drum445 opened #120 "Load image from EmbeddedResource"
Before submitting a new issue, please verify and check:

 - [x] The issue is specific to Raylib-cs and not raylib
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of Raylib-cs

### Issue description

I would like to be able to load an image file using embedded resources and convert this to a Raylib_cs.Image/Texture

### Environment

*

### Code exa

[2022-08-18 01:28] 9ParsonsB commented on #120
would #113 fix your issue, or would you require the use of embedded resources?

[2022-08-20 16:51] drum445 commented on #120
That does look interesting thanks, but I ideally want to be able to embed all my resources into a single stand-alone executable and deploy that way

[2022-08-21 01:04] Shadowblitz16 opened #121 "[All] Consider wrapping raylib structs and methods into managed classes"
Before submitting a new issue, please verify and check:

 - [x] The issue is specific to Raylib-cs and not raylib
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of Raylib-cs

### Issue description
I came across raylib-cpp recently and was wondering if maybe a similar approach would be good for raylib-cs
https://github.com/RobLoach/raylib-cpp

###

[2022-08-22 01:01] 9ParsonsB commented on #120
You could always combine the files after building (e.g. `copy /b Game.exe + Resources.rres GameWithResources.exe`) and then split them up again at runtime by looking for the `rres` [Magic Bytes](https://en.wikipedia.org/wiki/List_of_file_signatures) (HEX: `72 72 65 73`).

I am currently developing an rres parser for use with Raylib-cs, so I will take this use-case under consideration

[2022-08-22 06:47] ChrisDill commented on #120
It might be possible to convert it to a raylib Image by creating it directly. You need to check the pixel format matches and make sure the data is unmanaged. Not sure how to get the raw data from a System.Drawing.Image though.

[2022-08-23 00:19] 9ParsonsB commented on #121
This would make the bindings rather opinionated and force users to write code in a specific way, potentially kneecapping non-standard/common architectures. I would suggest leaving this to downstream frameworks and libraries.

I believe we want Raylib-cs to be a direct bindings to raylib; choosing a design pattern should be left up to users.

[2022-08-23 17:55] drum445 commented on #120
@ChrisDill the System.Drawing.Image wasn't for any particular reason, it was just the way I'm currently loading an image from disk. Any way where I can go from an embedded file to a raylib image would be top cheers

[2022-08-25 09:55] ChrisDill commented on #121
The current approach with structs closely matches how raylib uses them. I have considered wrapping the structs into classes though having multiple types for the same thing makes it more confusing to learn/maintain.

That said, I want to continue improving the utils where possible and wrapper classes may be useful here in some places.

[2022-09-03 11:32] vinnyhorgan opened #123 "GetScreenWidth and GetScreenHeight returning wrong values"
Hi, i've noticed that, after i resize my window with SetWindowSize(), the values that these two functions return is wrong, and references the previous window size.

[2022-09-03 13:13] #112 closed

[2022-09-03 13:56] emlai opened #127 "Add arm64 dylib version for macOS"
### Issue description

This package only provides `libraylib.dylib` for `osx-x64`, but not for arm64. Trying to use this on a M1 Mac causes the following error:

[code]

After manually adding the arm64 dylib (installed via `brew install raylib`) under `bin/Debug/net6.0/runtimes/osx.11.0-arm64/native/` and making the related config changes, the code runs without errors.

### Environment

- OS: macO

[2022-09-03 14:01] ChrisDill commented on #127
@emlai Raylib-cs uses the native libs included in the official raylib releases so this is not currently supported. Though we are considering custom builds in #118 which could allow other platforms to be added.

[2022-09-03 14:16] emlai commented on #127
It seems that starting from raylib 4.2.0, they do provide a universal (x64 + arm64) dylib in their official release:

[code]

[2022-09-03 15:32] JupiterRider commented on #123
Hey,
Once you've changed the windows size, you'll have to wait until the next game loop (Raylib.WindowShouldClose).
Then the values are updated and correct.

I think this is not Raylib-cs related, because these methods are direct interop with the native library.

[2022-09-03 15:51] JupiterRider commented on #121
I think getting rid of structs is not possible, because we directly use them to interop with the native raylib library. Raylib c uses structs as well.

Heres an example:
[code]
This is the color struct:
[https://github.com/ChrisDill/Raylib-cs/blob/master/Raylib-cs/types/Color.cs](https://github.com/ChrisDill/Raylib-cs/blob/master/Raylib-cs/types/Color.cs)

Raylib doesn't support multiple windows a

[2022-09-05 21:06] Shpendicus opened #128 "Raylib 4.2 Support"
https://github.com/NotNotTech/Raylib-CsLo/issues/21#issue-1362467000

its only regarding if u plan to work on the major release of 4.2 :)

[2022-09-05 23:29] 9ParsonsB commented on #128
Yes, we are working on 4.2, there is a branch with all the changes.
I believe the release will be very soon.

We wanted to release a service update to 4.0.0 first (4.0.0.2), which is now done.

[2022-09-06 12:03] Shpendicus commented on #128
Very nice to hear, thanks!

BTW: right now, in the Version 4.0.2; Is it that that current version, you are already able to reference REVIEWED/UPDATED functions from raylib automatically?? like if ur lib is already referencing raylib 4.2, will the end-user of your 4.0.2 be able to use ACTUALLY a function from the 4.2 from raylib, or does ur 4.0.2 reference sill only the older function from raylib 4

[2022-09-07 00:39] vinnyhorgan opened #129 "Is it possible to hide the console window?"
Like stated in the title, is there a way to only show the raylib window and not the console?

[2022-09-07 00:43] vinnyhorgan commented on #129
I think I found it! In your .csproj file just edit the OutputType like so:

`<OutputType>WinExe</OutputType>`

Hope this will help someone!

[2022-09-07 00:43] #129 closed

[2022-09-08 03:59] graphnode commented on #128
You mean using the [raylib parser](https://github.com/raysan5/raylib/tree/master/parser)? I've looked at it and it will need some hardcoded fixes to fit C# code style. Example: Color static fields instead of using preprocessor directives.

[2022-09-08 11:05] Shpendicus commented on #128
@graphnode I am disappointed at you! SHAME SHAME!

...

Joke :D.

Dont worry, was just a question, but as the saying goes, "It would have been to good to be true" xD

Wish you good success tho :)

[2022-09-09 02:22] Shadowblitz16 commented on #121
I don't really care about structs to much, the only thing I dislike is pointers and manual memory management.

I would love to see the whole library get rid of anything unsafe.
If someone needs a lower level c# raylib library auto bindings could be made, they would be needed anyways.

[2022-09-10 18:04] Shpendicus commented on #128
@graphnode Mate sry if i am annoying here, I am just burning to know if you are currently updating to 4.2 raylib^^

Would be cool to know, cheers

[2022-09-12 00:22] 9ParsonsB commented on #128
Please see the 4.2 branch if you would like to try out the new release.

[2022-09-13 23:55] Shpendicus opened #130 "[raygui] Possible to use raygui in current stable or (4.2)?"
Before submitting a new issue, please verify and check:

 - [ y ] The issue is specific to Raylib-cs and not raylib
 - [ y ] I checked there is no similar issue already reported
 - [ y ] My code has no errors or misuse of Raylib-cs

### Issue description

*Import raygui so one can deal with extra windows which right now is not allowed /possible through raylib.h*

### Environment

*Provide your Pla

[2022-09-15 14:07] GoldenQubicle commented on #113
Thanks @SoloByte your example helped me figuring out how to read a MagickImage directly from memory and display it as a RayLib image (instead write and then read from disk)

[2022-09-18 16:39] JupiterRider commented on #120
@drum445 Yes, there is a way:

[code]

Once you have added your Image as embedded resource in your csproj ...

[code]

... you can load it like above. The "original" LoadImageFromMemory takes a pointer. If you don't want to mess with them, you can write your own method:

[code]

[2022-09-18 19:05] ChrisDill commented on #120
@JupiterRider Thanks for sharing! Though your example shouldn't load the image with managed memory as the image data and functions around it assume the data to be unmanaged.

[2022-09-18 19:22] ChrisDill commented on #71
Issue has been open for a long time. Here is a update on the examples mentioned.
- Unsure on the audio examples. Needs testing with new raylib versions to see if it is still there.
- The billboard example now uses alpha correctly.
- The mesh generation example should now work correctly.
- The pbr example has been removed.

[2022-09-18 19:27] ChrisDill commented on #127
@emlai Thanks for looking into this. In that case it should be included in the 4.2 release.

[2022-09-20 23:25] jasonswearingen commented on #130
raygui is removed from raylib 4.2, and is now a stand-alone library.    Raylib-Cs explicitly tracks raylib, so I think they are removing raygui support.    If you need Raygui, you can use Raylib-cslo, which tries to include all the raylib extras possible.

[2022-09-21 06:39] ChrisDill commented on #130
To clarify the position on extras. Raylib-cs is focused on the main raylib api. I tried to support extras like raygui/physac but decided to remove them to keep the library easier to maintain and allow the user to add the extras they want separately.

While a custom build can include the extras, I found that these type of extras make more sense as separate libraries, rather than any single approach

[2022-09-21 06:44] allora opened #131 "[Monitors/Linux] When run from vs code or command line game does not start on the primary display"
Before submitting a new issue, please verify and check:

 - [x] The issue is specific to Raylib-cs and not raylib
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of Raylib-cs

### Issue description

When the hello world project starts from VSCode in linux with multiple displays via F5, or from the command line, from a terminal or VSCode on the pri

[2022-09-21 06:44] #123 closed

[2022-09-25 01:08] Shadowblitz16 opened #132 "[Core] Gamepad axis is not correct."
Before submitting a new issue, please verify and check:

 - [x] The issue is specific to Raylib-cs and not raylib
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of Raylib-cs

### Issue description
GetGamepadAxisMovement() does not returns correct values.
It seem trying to print a object or move it around only lets it move 8 ways not 360...

### E

[2022-09-25 18:28] JupiterRider commented on #132
Hey @Shadowblitz16

You can calculate the angle in degrees like this:

[code]

Here is a great explanation from a competing game engine about vector math:
https://docs.godotengine.org/en/stable/tutorials/math/vector_math.html

[2022-09-25 23:36] Shadowblitz16 commented on #132
@JupiterRider that doesn't make sense gamepad joy's should return a vector between -1 and 1
if you take the value of GAMEPAD_AXIS_LEFT_X and GAMEPAD_AXIS_LEFT_Y you can modify velocity or position's x and y directly.

This is how engines like gamemaker and godot dot it.

I also tested this with c raylib can't the C# version doesn't match

[2022-09-26 17:21] JupiterRider commented on #132
@Shadowblitz16
First of  all, this behavior is not Raylib-cs specific.

Can you give us a more concrete example of the values you get and the values you except?

[2022-09-28 04:10] Shadowblitz16 commented on #132
I messed up the project because I'm a bad programmer but I expect a unit circle depending or the direction and length of how hard I press the joystick.

for example it should be...

[code]

[2022-09-28 04:15] Shadowblitz16 commented on #132
Also your right this is a c raylib issue.

[2022-09-28 04:15] #132 closed

[2022-09-28 05:58] #130 closed

[2022-10-01 11:27] #128 closed

[2022-10-01 18:13] #127 closed

[2022-10-05 07:02] ChrisDill commented on #121
I have thought about it some more and decided to try a separate branch to experiment with the idea. I am cautious about making the project too opinionated but I can see the benefit in examples like what @JupiterRider has provided.

[2022-10-05 07:34] ChrisDill commented on #121
The first step is to further separate binding code from the wrapper. From there we can experiment with some ideas to improve the wrapper and see how it goes.

[2022-10-05 11:05] ChrisDill commented on #131
@allora What version of Raylib-cs are you using and which version of raylib did you test to compare?

[2022-10-07 16:13] JupiterRider commented on #121
@ChrisDill Yeah, I think Raylib-cs should be a binding only. So Creating a extra project for additional stuff could be useful or at least fun.

[2022-10-09 16:28] JupiterRider commented on #108
@ChrisDill

Would something like this fit your needs:
[code]

[2022-10-12 07:44] lorenzo774 commented on #87
@anggape Hi, can you write a guide on how to set up raylib-cs to run on Android?

[2022-10-14 06:19] #104 closed

[2022-10-14 12:12] anggape commented on #87
also you need to instal android workload documented [here](https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-workload-install)

[2022-10-23 03:34] Fallbork opened #135 "[General] Add Rl- prefix to types to avoid naming conflicts"
One common practice with Raylib-cs is to write `global using static` declarations in order to approximate the ease-of-usage of the original raylib. Generic names like the ones we currently have for the type structs clash with other libraries such as [Box2D .NET Standard](https://github.com/codingben/box2d-netstandard) (primarily the Color and Transform structs, from what I've noticed). This proble

[2022-10-23 15:02] ChrisDill commented on #135
Changing the naming across all types would be a big breaking change for not enough benefit. I have not seen `global using static` used much myself. I suggest static usings be done per file if naming conflicts are likely to occur.

[2022-10-23 15:17] ChrisDill commented on #108
@JupiterRider The issue is the `Image` type uses unmanaged memory which must be handled manually. The safe utils were also split from the bindings to make it clearer what is being marshaled behaviour explicit.

[2022-10-23 19:48] Fallbork commented on #135
I see... well, if that's the case then i'll be closing this issue then! Thank you for the attention :D

[2022-10-23 19:48] #135 closed

[2022-10-25 17:45] Me2L opened #136 "Old OpenGL compatibility"
How new does my OpenGL have to be to use raylib-cs 3.0 in Visual Studio 2017?

[2022-10-27 16:38] JupiterRider commented on #136
Raylib-cs uses OpenGL 3.3, which is also the default of raylib: [https://github.com/raysan5/raylib/blob/master/src/Makefile#L230](https://github.com/raysan5/raylib/blob/master/src/Makefile#L230)

But I think your biggest Issue is VS 2017, which doesn't support .NET 5 or higher. Raylib-cs needs at least .NET 5.

[2022-10-29 14:29] #136 closed

[2022-10-31 10:20] JupiterRider opened #137 "OSX ARM64 Support"
The issue #127 is still not solved.

I think it should be enough to put the same lib used for osx-x64 into `Raylib-cs/Raylib-cs/runtimes/osx-arm64/native/` and update the github actions.

[code]

[2022-10-31 10:23] JupiterRider commented on #137
@9ParsonsB Could you please update the gibthub actions?

[2022-11-01 07:31] #137 closed

[2022-11-17 23:20] XReaper95 commented on #131
I can confirm this was fixed here https://github.com/raysan5/raylib/pull/2731, as I always had the same problem in Manjaro. Building the `master` branch from source gives the correct window position on my main monitor. I guess it has not been released yet.